[2015-09-30 00:39] desaiankush opened #2 "Add regressions."
There are three recent additions in P:
1) Static functions
2) Receive statements
3) Local variables

Need to add regressions for thorough testing of these new features.

[2015-09-30 16:41] shazqadeer commented on #2
I have checked in fixes for handling static functions correctly.  I agree that we need regressions for static functions in the test folder.  We already have regressions for 2 and 3 but it would be good to examine them and add more.

@desaiankush: Please add the sample you sent me as regression.  Also, add the PingPong sample in PrtDist since it has static functions.

[2015-09-30 16:42] shazqadeer opened #3 "Link error in PrtDist samples"
After my recent fixes to deal with static functions, I am now getting a link error when I compile the generated C code using the solution files in the respective folders.

Error	51	error LNK2019: unresolved external symbol _PrtEnqueueWithInorder referenced in function _s_PrtDistSendEx	C:\Users\qadeer\Work\P\Src\PrtDist\Samples\TechFest2015-Demo\PrtDist.lib(PrtDist.obj)	FailureDetector

[2015-09-30 17:07] desaiankush commented on #3
@shazqadeer. Fixed. Inconsistent function renaming.

[2015-09-30 17:07] #3 closed

[2015-09-30 17:19] shazqadeer opened #4 "inconsistent parameter list of foreign functions in PrtDist samples"
The following warning is worrisome:

Warning	29	warning C4030: first formal parameter list longer than the second list	c:\users\qadeer\work\p\src\prtdist\samples\pingpong\program.h	136	1	PingPong

The signatures of generated C code for P functions changed. The foreign functions provided by PrtDist need to reflect that change.

[2015-09-30 19:49] desaiankush commented on #4
Fixed.

[2015-09-30 19:49] #4 closed

[2015-10-03 05:53] desaiankush commented on #2
Added regressions for static functions.

[2015-10-03 05:53] #2 closed

[2015-11-07 23:03] desaiankush opened #5 "Fix regressions in Integration"
Take care of following Integration/Correct
10/01/2015  05:48 PM    <DIR>          Multi_Paxos_3
10/01/2015  05:49 PM    <DIR>          Multi_Paxos_4
10/01/2015  05:50 PM    <DIR>          openwsn1
10/01/2015  06:00 PM    <DIR>          two-phase-commit
10/01/2015  06:04 PM    <DIR>          two-phase-commit_1

[2015-11-27 04:47] #5 closed

[2016-01-11 21:31] paulthomson opened #6 "[modp] Cannot get payload in a "with" or "do" block"
Branch: modp.

[code]

When compiling the above, I get the following error.
[code]

[2016-01-11 21:35] paulthomson commented on #6
Not an issue.  I should have used:
[code]

[2016-01-11 21:35] #6 closed

[2016-01-11 21:38] paulthomson opened #7 "[modp] Cannot compare machine value with null"
I would like to be able to compare machine values with null. E.g.
[code]

but I get the error:
[code]

[2016-01-11 21:42] paulthomson commented on #7
Here is an example:
[code]

[2016-01-11 22:44] desaiankush commented on #7
Shaz, mentioned that you are getting inconsistency in the error reported. Sometimes the type checker complains and sometimes it doesnt. Can you please provide an example for both ?

[2016-01-12 00:24] desaiankush commented on #7
I have fixed this issue and added the regression in
P\Tst\RegressionTests\Feature4DataTypes\StaticError\comparemachinetype

[2016-01-12 00:24] #7 closed

[2016-01-12 00:35] shazqadeer commented on #7
@desaiankush: As far as I understand, this issue happens only in the modp branch.  Is your code update in the modp branch?  Also, do you allow comparison with null now?

[2016-01-12 00:55] ellab123 commented on #7
Hi, Ankush,

Have you committed this test? I just did “git pull”, and I don’t see it.

Thank you,

Ella

From: Ankush Desai [mailto:notifications@github.com]
Sent: Monday, January 11, 2016 4:25 PM
To: p-org/P <P@noreply.github.com>
Subject: Re: [P] [modp] Cannot compare machine value with null (#7)

I have fixed this issue and added the regression in
P\Tst\RegressionTests\Feature4DataTypes\StaticE

[2016-01-12 01:17] shazqadeer commented on #7
I believe this test is in the modp branch.

From: ellab123 [mailto:notifications@github.com]
Sent: Monday, January 11, 2016 4:55 PM
To: p-org/P <P@noreply.github.com>
Cc: Shaz Qadeer <qadeer@microsoft.com>
Subject: Re: [P] [modp] Cannot compare machine value with null (#7)

Hi, Ankush,

Have you committed this test? I just did “git pull”, and I don’t see it.

Thank you,

Ella

From: Ankush Desai [

[2016-01-12 01:29] ellab123 commented on #7
Shaz,

I’m preparing to push *breaking* change in the regression tool.
Wouldn’t that break regression testing in that other branch at some point?

Ella

From: Shaz Qadeer [mailto:notifications@github.com]
Sent: Monday, January 11, 2016 5:18 PM
To: p-org/P
Cc: Ella Bounimova
Subject: Re: [P] [modp] Cannot compare machine value with null (#7)

I believe this test is in the modp branch.

From: ellab1

[2016-01-12 01:57] desaiankush commented on #7
Hi Ella,

What are the changes that you are making to the testing tool.
Can we do it in stages so that the modp branch can also start using it
without much changes.

On Mon, Jan 11, 2016 at 5:29 PM, ellab123 <notifications@github.com> wrote:

[2016-01-12 19:54] ellab123 commented on #7
Hi, Ankush,

The changes affect “testconfigXX.txt” files (where XX stands for Pc or Prt or Zing) and simplify parameters in those:
- eliminated parameters: runPc, runPrt, runZing, acc, add

-          renamed parameters:

“incXX” is “now “inc”

“argXX” is now “arg”

-          all testconfigXX.txt files renamed into “testconfig.txt”
I’m planning on pushing the changes today.

Let me know if you ne

[2016-01-13 17:34] paulthomson opened #8 "Statically get type of a variable"
It might be nice to be able to statically get the type of a variable.

E.g.
[code]

Or allow `default` to take a variable name instead of a type.

[code]

[2016-01-13 18:37] paulthomson opened #9 "Foreign types and strings for logging"
It might be useful to support the string type, even if strings are only used for logging, explaining assertions, etc. A project may require us to call an external logging function with a string argument.

[2016-01-13 19:28] paulthomson opened #10 "Enum types or constants or macros"
Some code I am porting uses enums. Something like the following would be nice.

[code]

Or, I could just use `int`, but then it would be nice to have constants or macros:

[code]

[2016-01-13 19:46] paulthomson opened #11 "Concatenate seq"
It would be useful to be able to concatenate two `seq` values together.

E.g.
[code]

Currently, I have to do:

[code]

...which I *think* is right.
...except my variable names are much longer than `s1` and `s2`!

[2016-01-13 19:50] desaiankush commented on #9
I think providing a string as an argument is possible but providing a
formatted string would be a lot of work.
I guess just providing the normal string would not be enough, you need
formatting string so that you can print p values as well ?

On Wed, Jan 13, 2016 at 10:37 AM paulthomson <notifications@github.com>
wrote:

[2016-01-13 19:53] desaiankush commented on #11
I have another suggestion which I have used.
You can put all these functions in a separate module as static functions
and use this module everywhere else just as a library.

On Wed, Jan 13, 2016 at 11:46 AM paulthomson <notifications@github.com>
wrote:

[2016-01-13 19:55] desaiankush commented on #10
I have faced similar problem in the past. I will discuss with Shaz if we
want to add it or there is a quick work around and let you know.

On Wed, Jan 13, 2016 at 11:28 AM paulthomson <notifications@github.com>
wrote:

[2016-01-13 20:16] paulthomson commented on #11
Ah thanks this is very helpful.

However, I will be concatenating sequences of many different types. I guess I can't do a template/generic function?

Should I just make a function that takes and returns `seq[any]`and then use `as`? How does `as` work (in the C version and zing version)? Is it like a runtime check?

[2016-01-13 20:28] desaiankush commented on #11
Yes.
I have changed static functions a lot and I have only one example for it
checked in.
P\Tst\RegressionTests\ModuleSystem\staticfunction
You can look at this if it helps.

Public static functions can be accessed from other modules and private
static functions are internal to the current module.

I would suggestion, create a module HelperFunctions.

module HelperFunctions {

public fun ConcatSeq

[2016-01-14 06:33] #11 closed

[2016-01-14 19:38] paulthomson opened #12 "Compiler crash during zing generation"
The following causes a `KeyNotFoundException` when generating the zing model.

crash.p:
[code]

[code]

[2016-01-14 19:48] paulthomson commented on #12
Only on the modp branch, I think.

[2016-01-14 21:31] shazqadeer commented on #10
@paulthomson: Do you need C-style constants or enumerated types?  C-style constants can be faked as follows:

fun Const(): int {
    return 2;
}

[2016-01-15 04:04] desaiankush commented on #12
I have fixed this bug.
P\Tst\RegressionTests\Feature1SMLevelDecls\DynamicError\Halt

[2016-01-15 04:04] #12 closed

[2016-01-25 18:40] paulthomson commented on #8
I think this is a bit like [decltype](http://en.cppreference.com/w/cpp/language/decltype) in C++.

It might also be useful to get the (return) type of functions so that you don't have to duplicate its type or make the return type a named type. E.g.

[code]

Alternatively, can I do something like the following?
[code]

[2016-01-25 23:41] desaiankush commented on #10
@paulthomson Did you figure this out ? What are you using ?

[2016-01-25 23:43] paulthomson commented on #10
Yes! I am currently using functions. I guess enumerated types might be nice for type safety though.

[2016-01-26 17:22] paulthomson opened #13 "Slow compiling"
Using `pci` on `modp` branch.

I am just executing `load` and `test`, but they take a while:

`load`: 1min40
`test`: 1min30

So at least 3min10 before I hit the next runtime error due to my mistakes :-)

[2016-01-26 18:29] paulthomson opened #14 "[ModP] Interfaces as sets of events"
On modp branch.

Edit:

* Allow interfaces in `sends`, `receives` and `po` declarations to denote a set of events.
* Allow e.g. the following: `po ITesterMachine > IReceiverMachine;`.

Old:
I can use interfaces in po declarations, but then zing fails to compile it. I have a non-minimal example if it would help. (Of course, it would be nice if this was actually supported! But right now I guess it i

[2016-01-26 19:14] shazqadeer commented on #13
That is slow indeed.  It is surprising that the load time is longer than the test time.  The load time includes time only for type checking.  The test time includes time both for P to Zing translation and for zc to compile .zing to .dll.  The latter is known to be really slow.

How many LOC is the file?  Could you please send it to me privately?

[2016-01-26 19:14] shazqadeer commented on #14
We are trying to sort out the po stuff.  Hope to get something soon.

[2016-01-29 17:36] paulthomson commented on #9
Normal string literals might be enough. I think Shaz mentioned about treating them as a foreign type. So perhaps this issue can encompass three things:

* Foreign types.
* String literals.
* String literals in assert statements, so I can report the reason of assert.

[2016-02-03 21:16] paulthomson opened #15 "Foreign code missing stubs"
When I compile a P program, I am getting some functions in `stubs.c` like:

[code]
but there also some functions declarations in `program.h` that are not in `stubs.c`, like:

[code]

Is this intended?

Also, would this SEND function be executed when a send to this machine occurs (even if this machine has other events in its queue---does this machine have a queue)?

[2016-02-03 21:20] paulthomson opened #16 "Output filename parameter"
It might be nice to be able to set the output filename(s) from the P compiler. I.e. `program.c` could be `MyPSystem.c`. Or, at least, the files could be named the same as the original P file, as is the case with the output zing model. i.e. `Main.p` -> `Main.zing` -> `Main.dll` (on the main branch at least).

[2016-02-03 21:59] paulthomson opened #17 "Named tuple field indexes in foreign code"
I think (but I may be wrong) that I will need to use magic numbers when accessing the values of named tuple types from foreign code.

This will be very hard to maintain if the tuple types change (in the P code). Also, I think I will be converting large, nested tuple types to structs and back quite a lot, so I will no doubt make some mistakes.

It looks like the structure of named tuples can be exp

[2016-02-04 18:18] paulthomson opened #18 "On error print stack trace"
Many built-in assertions in the Zing generated code do not mention the line number where the error occurred in the original P file. E.g.

[code]

This may be fine for small event handlers, but is very difficult when there are many function calls, etc. and many possible places where the error could have occurred.

[2016-02-04 18:50] shazqadeer commented on #15
The declaration for P_SEND_OperationManagerMachine_IMPL should be generated only if OperationManagerMachine is a model machine.  For actual execution, the logic for creating this machine and for handling events sent to it must be implemented in foreign code.  This particular function would be invoked whenever a non-model machine sends an event to an "instance" of the OperationManagerMachine.

[2016-02-04 18:53] shazqadeer commented on #17
This is a good idea.  I will look into implementing it.

[2016-02-04 18:56] shazqadeer commented on #18
This problem is tough to solve in general.  It is similar to having an assertion in a library function which is being called from all over the place.  Matters are worse for Zing error traces because we do not have a debugger for these traces.  Would it help if I added the print functionality we have talked about? You could then do classical print debugging.

[2016-02-04 19:12] paulthomson commented on #18
Oh yes that feature would still be very helpful! Actually, so would printing out a stack trace. I guess it will be a Zing stack trace, but still.

Perhaps in the future, some of the stack frames could include mappings to lines in the P code as well!

[2016-02-04 19:19] paulthomson opened #19 "Map stack frames in Zing to P file"
This is a "nice to have feature", but not important. I am guessing it would require a new statement/annotation in Zing where you can state "we have now reached line X in file Y from which this file was derived". Like the [#line](https://msdn.microsoft.com/en-us/library/b5w2czay.aspx) directive in C/C++.

E.g.

[code]

[2016-02-04 19:28] paulthomson commented on #15
Thank you that is helpful! To double check the stubs, here are the details:

The two machines are:

[code]

The stubs:

[code]

The declarations:

[code]

[2016-02-04 21:10] paulthomson opened #20 "Simultaenous liveness and deadlock detection"
On master branch. How do I get a hot monitor to cause an error?

See `TestMasterHot.p`.

[code]

[code]

[code]

I have tried other Zinger liveness flags.

[2016-02-04 21:32] paulthomson commented on #20
OK, so it seems if I add an infinite cycle in the state-space then an error is found.

I would like to trigger an error at any *terminal state* if some condition does not hold. Is that possible?

[2016-02-04 21:57] desaiankush commented on #20
Hi Paul,

The deadlock property is encoded as a safety assertion in P. If you want to
check an eventually or finally property on a finite trace it is implemented
as an assertion that at the end of execution when all the process are
terminated or blocked the system should not be in a hot state. For checking
such properties you must compile P program without liveness flag and run
normal zinger searc

[2016-02-04 22:27] paulthomson commented on #20
Awesome! So doing the following makes it work:
[code]

The error message is not very clear though:
[code]

Does it make sense to have both liveness and deadlock safety checks? So a program has infinite paths but also has some terminal states? E.g. A program might be able to get stuck in an infinite failure loop without making progress but might also be able to terminate in a hot state. If so, woul

[2016-02-04 22:32] desaiankush commented on #20
Excellent point Paul !
I had exact same conversation with Shaz today morning but with the way
liveness checking and deadlock detection is implemented right now both the
checks cannot be enabled simultaneously.
But I agree with you that it would be nice to merge these two checks. I
will think about it.

On Thu, Feb 4, 2016 at 2:28 PM Paul Thomson <notifications@github.com>
wrote:

[2016-02-05 00:28] shazqadeer commented on #20
I am not convinced yet that merging deadlock and livelock detection is a good idea.  The current design requires the programmer to explicitly consider whether she is looking for a finite (assertions and deadlocks) or an infinite (livelocks) error trace.  Different options should be passed to pc and zinger (consistently) depending on that choice.  These options result in significantly different enc

[2016-02-05 00:34] shazqadeer commented on #15
Yes, that is correct.  Although, it may not be the correct thing to dump out actual stub implementations for non-model machines.  You will have to make sure that you keep the actual stubs in a different folder to prevent them from being overwritten.

I decided to generate stubs for non-model machines just for the convenience of testing the runtime against P examples without having to write C code.

[2016-02-05 00:37] shazqadeer commented on #19
@desaiankush: Do you have some way of attaching attributes to the stack frames printed out in Zing?

[2016-02-05 19:25] shazqadeer commented on #8
This one seems low-priority for now since the ability to create type synonyms gets you most of the effect you want.  We can revisit it later.

[2016-02-05 19:25] #8 closed

[2016-02-05 19:28] shazqadeer commented on #9
I have checked in support for all of these features.  The print statement in P looks like

print "shaz";

The assert statement in P looks like

assert x == y;

or

assert x == y, "shaz";

[2016-02-05 19:31] shazqadeer commented on #17
I have checked in support for this feature.  The enumerated constants look like

P_FIELD_INDEX_T_f

where T is the named tuple type and f is a field in T.

[2016-02-05 19:31] #17 closed

[2016-02-05 19:32] #15 closed

[2016-02-05 19:41] #9 closed

[2016-02-08 20:05] shazqadeer opened #21 "Inconsistent naming convention"
The name of PrtForeignValueToString does not match the convention of the rest of the foreign type related functions.

PRT_FORGN_MKDEF PrtMkDefaultForeignValue = &MkDefaultForeignValue;
PRT_FORGN_CLONE PrtCloneForeignValue = &CloneForeignValue;
PRT_FORGN_FREE PrtFreeForeignValue = &FreeForeignValue;
PRT_FORGN_GETHASHCODE PrtHashForeignValue = &HashForeignValue;
PRT_FORGN_ISEQUAL PrtIsEqualForeignVa

[2016-02-08 21:40] desaiankush commented on #21
Fixed

[2016-02-08 21:40] #21 closed

[2016-02-08 21:41] #20 closed

[2016-02-09 19:16] paulthomson commented on #16
Also, perhaps it should be possible to only compile to C (and only compile to Zing) in preparation for getting the compiler to be called from MSBuild.

[2016-02-12 18:02] paulthomson opened #22 "Equality of foreign type aliases"
This assertion fails in Zinger. Should it?

Eq.p:
[code]

[2016-02-12 18:22] shazqadeer commented on #16
@ellab123:  Suppose we implement Paul's suggestion of generating foo.c, foo.h, and stubs.c for the input file foo.p.  I believe that will break the current regression testing tool.  Would it be straightforward to patch it?

@paulthomson: Regarding the issue of compiling only to C or only to Zing, why not always compile to both?  Are you worried about the performance of the compiler?

[2016-02-12 18:32] paulthomson commented on #16
If you add an (optional) output filename parameter then I assume you could avoid having to change much of the regression testing code.

I guess compiling to both is fine actually! Although performance is currently a concern. And perhaps there will be certain main P files that are not appropriate for use with Zinger (while other P files will be designed as test harnesses for use with Zinger). It al

[2016-02-12 18:48] paulthomson commented on #22
Also, I cannot do:

[code]

I get a compile error: `Illegal type`.

[2016-02-12 20:01] shazqadeer commented on #22
I am working on it.

[2016-02-12 20:07] paulthomson opened #23 "Cannot raise in functions"
All my event handlers are functions. This avoids code duplication. Also, the event handlers are quite large and call other functions. But I cannot use raise in a function. So, if I want to use raise, I will have to work around this, perhaps by awkwardly making every function return an event? And then making every event handler check the return value and possibly raise.

I guess the issue is that r

[2016-02-12 20:16] paulthomson commented on #23
Actually, perhaps I could work around this by having a field: `var RaisedEventV : event;`
and then checking this at the end of every event handler. Slightly better, but still a bit silly!

[2016-02-12 20:21] desaiankush commented on #23
I have used the trick you mentioned above in most of the cases. I think its
not that bad :)

On Fri, Feb 12, 2016 at 12:16 PM Paul Thomson <notifications@github.com>
wrote:

[2016-02-12 20:47] paulthomson commented on #22
Cool! This is no longer a blocking issue for me right now---I removed my "G" from the set of types as it wasn't really needed.

[2016-02-12 21:05] shazqadeer commented on #22
I have checked in fixes to both bugs mentioned by you.

[2016-02-12 21:05] #22 closed

[2016-02-12 21:20] paulthomson commented on #23
I was wrong! Raise is allowed in functions! Just not when transitioning to another state!

[2016-02-12 21:20] #23 closed

[2016-02-13 05:00] shazqadeer opened #24 "removing type inference from golden output"
I am thinking about dropping the inferred types from golden output of the regression tests.  I find there is a lot of noise there that needs to be sifted through whenever I make a change to the compiler.  Any opinions?

[2016-02-13 05:04] desaiankush commented on #24
I find it important. Whenever we make changes in the typing rule, the
inferred types changes. It is important to have the golden files so that we
make sure that we did not introduce any bug in the type-checker and the
changes are expected.
If there is some other way easier way of making sure that the type-checker
is correct, I am fine with removing the golden files.

On Fri, Feb 12, 2016 at 9:00 P

[2016-02-13 05:09] shazqadeer commented on #24
The way I figure it out is to write test cases for the various type errors and then correct programs that should type check.  For the latter, absence of any typing error is only partial information.

[2016-02-19 21:06] paulthomson opened #25 "Cannot compile from path with spaces"
[code]

[2016-02-19 23:37] clovett commented on #25
Thanks for the bug report.  This is now fixed.

[2016-02-19 23:37] #25 closed

[2016-02-22 23:09] paulthomson opened #26 "Tentative definition in generated C code"
Found by Richard.

At the end of the generated file `program.h` there is:

[code]

This is a definition and so any file that includes `program.h` is defining its own copy of `P_GEND_PROGRAM`. "Luckily", most C compilers allow "tentative definitions" and so will treat these as declarations. But C++ compilers do not allow this, so this should fixed to:

[code]

[2016-02-23 17:40] shazqadeer commented on #26
Fixed.

[2016-02-23 17:40] #26 closed

[2016-02-23 17:44] shazqadeer commented on #24
I am going to eliminate the type inference output from golden files in the next couple of days.  Please holler if you have strong objections.  My decision is based on the following considerations:
1. I never use the type inference output to detect a regression failure.  A regression failure is indicated by the unexpected presence or absence of an explicit error message.
2. The type inference outpu

[2016-02-23 17:45] shazqadeer commented on #13
My recent refactoring of the Formula rules for the type checker and the compiler to C may have a positive effect. Please sync up and let me know if you see any difference.

[2016-02-23 17:58] paulthomson commented on #13
This was on the modp branch. The master branch has always been better but your recent changes definitely help a lot, especially for P to C.

[code]

[2016-02-23 18:01] desaiankush commented on #13
By how much did it help ?
What was the previous performance ?

On Tue, Feb 23, 2016 at 9:58 AM Paul Thomson <notifications@github.com>
wrote:

[2016-02-23 18:07] paulthomson commented on #13
That is good question! In a previous commit, the P to C compiler did not terminate within 10mins! But I think was some kind of regression (I don't think it always like that!).

[2016-02-23 18:15] shazqadeer commented on #13
At one point in the master branch, I checked in a bug fix which had the unfortunate side effect of slowing down the compile of Paul's program to 10 minutes.  I have since refactored the rules both in the type checker and the P to C compiler to make the performance better.

[2016-02-23 18:22] paulthomson commented on #13
Related: the reported time for P to C seems to be inaccurate, as if it does not include the time for the formula query.

[2016-02-23 18:28] paulthomson commented on #13
The reported time seems incorrect for pci, P2C, master branch.

[2016-02-23 19:33] paulthomson opened #27 "Multiple definitions of P_GEND_EVENTSETS"
I am getting multiple definitions of `P_GEND_EVENTSETS` in `program.c`. I can provide the P files.

[2016-02-23 19:37] shazqadeer commented on #27
Could you please try to minimize the test and send me the P file?

[2016-02-24 19:50] shazqadeer commented on #27
I have checked in a fix for the problem.  The event packing was busted for a program with more than 32 events.  I guess no test regression has more than 32 events :-).  I have checked in the fix but not re-run the regressions yet so you are unblocked pronto.  We should add a regression for more than 32 events.

[2016-02-24 19:50] #27 closed

[2016-02-24 21:40] desaiankush opened #28 "Warning in the build process"
@clovett @shazqadeer
remove the warnings generated for labels when compiling the C code.

We could add this to the top of every generated program.c file:

#pragma warning (disable: 4101)

#pragma warning (disable: 4102)

And probably should put this at the bottom of every program.c file to restore back to default for the rest of your app:

#pragma warning (default: 4101)

#pragma warning (default:

[2016-02-25 04:37] shazqadeer commented on #28
Fixed.

[2016-02-25 04:37] #28 closed

[2016-02-25 17:42] paulthomson opened #29 "Prt does not log unhandled event"
...because it calls the exception handler first and then returns. Also, is there a convenient way to log the exception type?

[2016-02-25 17:56] shazqadeer commented on #29
What do you mean by the exception type?

[2016-02-25 18:09] shazqadeer commented on #29
Here is a sample output from one regression test that leads to an unhandled event exception.

=================================
         Console output
=================================
OUT: <CreateLog> Machine Real1(1) is created
OUT: <StateLog> Machine Real1(1) entered state Real1_Init
OUT: <EnqueueLog> Enqueued event E1 with payload null on Machine Real1(1)
OUT: <DequeueLog> Dequeued event E1 w

[2016-02-25 18:16] paulthomson commented on #29
Here is my output. I did not implement a good exception handler.

[code]

Note that the unhandled event is not logged, but I think it would be logged if there was a state pushed. I will get things set up so I can make pull requests, as that will probably be easier.

[2016-02-25 18:40] shazqadeer commented on #29
For a basis error handler that you could reuse, take a look at the file Tst\PrtTester\tester.c.

For your output, I would deduce that the unhandled event is UpdateArtifactManager since it was the last dequeued event by machine ArtifactManagerMachine(1) which is exiting with an unhandled event.

[2016-02-25 23:53] #29 closed

[2016-02-25 23:57] paulthomson opened #32 "Include #line or line number comments in generated C code."
Enhancement. It would be nice to have the P line numbers in the generated C code. If you use the [#line directive](https://msdn.microsoft.com/en-us/library/b5w2czay.aspx) then Visual Studio (or any other debugger) will jump directly to the appropriate line in the P file. You could even step through the P file. This would make seeing which assertion failed much easier.

[2016-02-26 23:57] paulthomson opened #33 "Missing P_GEND_TYPE_[TypeName]"
I was previously getting definitions like the following in `program.c`:

[code]

Thus I can refer to the types from the C code easily (by name). I then added another foreign type and these have all disappeared. I am trying to create a test case but I can't get these definitions to appear. I can send you files privately or maybe you can tell what the problem is.

[2016-02-27 00:05] paulthomson commented on #33
Perhaps more importantly: the declarations for the types are still generated in `program.h` so now I can't link!

[code]

[2016-02-27 00:12] paulthomson commented on #33
Test case:

Compile with `pc` and see that the definitions (e.g. `P_GEND_TYPE_MyOtherType`) are missing from `program.c`. Comment out the `StringBuffer` type and compile again to see that the definitions are now present in `program.c`.

[code]

[2016-02-27 23:03] shazqadeer commented on #33
Fixed.

[2016-02-27 23:03] #33 closed

[2016-02-29 05:28] shazqadeer commented on #13
@paulthomson : Do you understand the bug that is causing incorrect time to be reported?  Please point it out because the profiling looks correct to me.

[2016-02-29 06:06] paulthomson commented on #13
@shazqadeer I cannot see a problem with the code and I cannot reproduce it!

[2016-02-29 17:40] shazqadeer commented on #13
I am closing this issue for now.  Feel free to start a fresh issue for this problem.

[2016-02-29 17:40] #13 closed

[2016-02-29 17:41] shazqadeer commented on #14
Closing this issue.  ModP is going through a lot of changes including elimination of po.

[2016-02-29 17:41] #14 closed

[2016-02-29 23:05] paulthomson opened #34 "No PrtGetForeignValue function"
Should there perhaps be a function `PrtGetForeignValue` to get the `PRT_UINT64` value from a `PRT_VALUE*` that is a foreign value?

[2016-03-01 03:54] shazqadeer commented on #16
I have  added an  option /outputFileName:<name>.  For pci.exe, this option must be passed as argument to load command.  If this option is not used, then <name> defaults to the name of the P file (without the .p extension) passed as argument to pc.exe or to the load command if pci.exe is being used.  The compiler will generate name.zing, name.dll, name.c, name.h, and stubs.c.

[2016-03-01 03:54] #16 closed

[2016-03-02 20:44] shazqadeer commented on #24
Ella's last checkin eliminated the type inference output from the golden files.

[2016-03-02 20:44] #24 closed

[2016-03-03 20:16] shazqadeer commented on #32
I have checked in a first cut of line numbers.

[2016-03-03 20:21] paulthomson commented on #32
This is awesome!

[2016-03-03 22:14] #32 closed

[2016-03-04 00:14] paulthomson opened #35 "Build currently fails"
Running `build.bat release x64` (and probably all other combinations) currently fails when trying to build the P samples. I think this is because `pc` no longer outputs `program.c` and `program.h`.

* The `p.targets` file will need to be changed.
* The P sample projects will need to be changed to include different files. Also, if I switch to x64 in VS2015, then some of the P sample projects are st

[2016-03-04 01:18] paulthomson opened #36 "No UserMkFreshForeignValue"
I am trying to run one of my test cases as a C program to debug a potential issue with the C runtime. However, it seems that when P code asks for a fresh foreign value, the runtime just returns `1`, `2`, `3`, etc. My `User*Foreign*` functions assume these values are pointers and there is no way to distinguish these fake values from real pointers (in theory). So, my program will (almost certainly)

[2016-03-04 05:04] shazqadeer commented on #35
Thanks to Chris, the  build appears to be fixed now.

@clovett : Is the second bullet in Paul's original post still a problem?

[2016-03-04 17:27] paulthomson opened #37 "[Prt] Machine state becomes garbage value"
When compiling a test case to C, I get a `read access violation`. I believe the `currentState` field of `PRT_MACHINEINST_PRIV` is a garbage value, but I could be wrong. It could be a bug in Prt or in the generated code. I am not sure how to debug this. Can Visual Studio do reverse debugging? :smile:

[2016-03-04 17:49] paulthomson commented on #37
`PrtExecution.c` line 817. The `transIndex` is out of bounds. Not sure why. Could add a bounds check here: `PRT_DBG_ASSERT(transIndex < nTransitions, "Check Failed");`

[2016-03-04 20:19] shazqadeer commented on #37
Closing this issue.  We determined that the bug is due to incorrect packed event set translation.

[2016-03-04 20:19] #37 closed

[2016-03-04 22:17] paulthomson commented on #34
Something like this:

[code]

[2016-03-05 00:48] paulthomson commented on #32
I don't have permission to re-open this, but this is not quite working for me. The file paths are being interpreted by VS as relative paths. Removing `file:///` seems to fix it, weirdly.

[2016-03-05 00:54] paulthomson opened #38 "Prt sometimes frees value that needs to be used or cloned"
The use of `PrtFreeValue` needs to be fixed so as to not accidentally free the value that needs to be cloned due to aliasing.

[code]

[2016-03-05 18:37] shazqadeer commented on #38
I have checked  in a fix.

[2016-03-05 18:37] #35 closed

[2016-03-06 18:45] shazqadeer commented on #34
Done.

[2016-03-06 18:45] #34 closed

[2016-03-06 18:47] shazqadeer commented on #36
An informal expectation from the programmer is that all uses of fresh(T) occur in model code (model machines or model functions).  In  that case, one of two things will happen.  Either models are erased (by default) and all foreign values come from foreign code.  Or models are not erased (/doNotErase option to the compiler) and all foreign values come from P runtime. In either case, I don't see an

[2016-03-07 17:22] paulthomson commented on #38
Looks good!

[2016-03-07 17:22] #38 closed

[2016-03-07 17:39] paulthomson commented on #36
I guess there are two questions:
1. Is `fresh` ever expected to be used in C code?
2. If yes, then is there any way that such fresh foreign values can be used when the "real" type of the foreign values is pointers? (And do we care?)

Regarding (1), my argument for allowing fresh in C code is mainly for the ability to execute tests as C code for debugging (i.e. the ability to step through the code)

[2016-03-08 03:58] shazqadeer commented on #32
I have added /noSourceInfo option to control the emitting of source line information.

From: Paul Thomson [mailto:notifications@github.com]
Sent: Thursday, March 3, 2016 12:21 PM
To: p-org/P <P@noreply.github.com>
Cc: Shaz Qadeer <qadeer@microsoft.com>
Subject: Re: [P] Include #line or line number comments in generated C code. (#32)

This is awesome!

—
Reply to this email directly or view it on G

[2016-03-08 04:03] shazqadeer commented on #36
I am still not following the point you are raising.  You will compile either with or without the /doNotErase option. Here is what will happen:
1. You use /doNotErase option.  In this case, the actual foreign code will not be used at all.  fresh will compile to Prt runtime fresh API that just uses increasing natural numbers.  Since the real foreign code is not even linked, there is no problem.

2.

[2016-03-08 23:42] paulthomson commented on #36
I see now. I need to change my C code so that it does not call `PrtUpdateForeignFn`, then my model code will work fine.

[2016-03-08 23:42] #36 closed

[2016-03-09 17:34] paulthomson opened #39 "Type errors still sometimes hang the compiler"
I just changed a few `int` types to be foreign types and now the compiler hangs. I think we already know about this issue, but I am creating this so we don't forget about it.

[2016-03-10 00:18] paulthomson opened #40 "Time reported by `pci` for `compile` is sometimes wrong"
We just saw this happen. The actual time was around 50s but the reported time was around 4s. Here is a reminder to look into this.

[2016-03-10 01:35] shazqadeer commented on #40
This bug should be fixed now.

[2016-03-10 01:35] #40 closed

[2016-03-11 22:49] paulthomson opened #41 "Generated header file should use #ifdef __cplusplus"
The header file generated by the P compiler should have `#ifdef __cplusplus` just like the runtime header files. Otherwise, from C++ code, you have to do:
[code]

[2016-03-17 05:23] shazqadeer commented on #41
Done.

[2016-03-17 05:23] #41 closed

[2016-03-19 22:41] shazqadeer opened #43 "Proposal for new language features (please provide feedback)"
Paul’s work on NodeService exposed a performance problem with excessive cloning in the P runtime.  I am noting here a language-level proposal to combat the problem.  There are two features I am proposing to add. I am looking for feedback for each feature along three axes: (1) is it useful?  (2) is it too restrictive? (3) are there any gotchas?

First, I want to make arguments to functions immutabl

[2016-03-19 22:58] desaiankush commented on #43
What about passing global l-values to static functions ?
One of the general use case of global static functions is to perform common
computations, and you might want to pass global l-values to the static
functions.

On Sat, Mar 19, 2016 at 3:41 PM Shaz Qadeer <notifications@github.com>
wrote:

[2016-03-21 17:08] paulthomson commented on #43
I like this train of thought, as it does seem like there will be performance issues with the current approach. However, I am not sure about these proposals.

Making function arguments immutable seems inconsistent with other languages. Further, disallowing global variables to be passed as function parameters seems like a very odd restriction from the programmer's point of view. The "everything is a

[2016-03-21 21:47] shazqadeer commented on #43
Thanks for the feedback.  Based on the feedback received, I would like to revise the proposal on two counts:
1. Allow l-value expression derived from a global variable g to be passed as a parameter to function f if g is not modified by f.
2. Match the ref semantics provided by a language such as C#.  So, even parameters of primitive types can be passed by reference.  Any parameter passed by refere

[2016-04-13 18:40] clovett opened #44 "GCC compile issue with #pragmas"
I'm getting P runtime to compile on STM324f chip using GCC, and the generated P output C files contain #pragmas that are Visual Studio cl.exe specific.  Would be nice to have a "GCC" option to generate output that compiles cleanly using GCC.

[2016-04-13 18:43] clovett opened #45 "GCC compile issue with #include "PrtWinUser.h""
I'm getting p-runtime to compile on Nuttx and "PrtWinUser.h" in the generated P code seems too windows specific.  Can we genericize that or add option to generate other OS platforms, in my case I want PrtNuttxUser.h... unless you can generalize that - for example, call it "PrtUser.h" and use #ifdef <PLATFORM> inside that header for any platform specifics...

[2016-04-13 18:47] clovett opened #46 "GCC v4.8 compile issue with generated struct initializers"
The initializer for the "union" part of the PRT_TYPE and PRT_VALUE structs in the generated code need to be surrounded by another level of curly braces, for example, this:

[code]

needs to be this:

[code]

[2016-04-13 18:50] clovett opened #47 "GCC compile errors with unused variables, and undeclared functions"
I'm getting p-runtime to compile on nuttx using GCC and the generated P output contains functions with missing prototypes, and unused variables and unused goto labels.  These errors can be avoided by turning off the following compiler features, but I'd prefer not to have to do that because these features are handy way to keep my code clean:

		-Wno-missing-prototypes
		-Wno-missing-declarations

[2016-04-24 23:48] shazqadeer commented on #44
I have removed these pragmas.

[2016-04-24 23:48] #44 closed

[2016-04-24 23:49] shazqadeer commented on #45
Does the recent checkin by Ankush fix this problem?

[2016-04-24 23:51] shazqadeer commented on #47
I have made an attempt to eliminate unused variables.  However, it is unlikely I have succeeded in eliminating the need for all of the above options.  Please do a pull and try it out and provide P file as repro for each specific problem you still face.

[2016-04-25 00:15] shazqadeer commented on #46
Fortunately, cl.exe does not complain when I added the braces.  So, I added the braces unconditionally.

[2016-04-25 00:15] #46 closed

[2016-05-02 21:07] lovettchris commented on #45
Yep.

[2016-05-02 21:08] lovettchris commented on #47
Ok, you can close this issue, I will file separate issues for anything else I find in this area.

[2016-05-02 21:36] shazqadeer commented on #47
ok.

[2016-05-02 21:36] #47 closed

[2016-05-02 21:36] shazqadeer commented on #45
Excellent.  Thanks, Ankush.

[2016-05-02 21:36] #45 closed

[2016-05-02 21:38] shazqadeer commented on #43
Closing this one.  I am currently implementing support for these features in P but the design is sufficiently different that we would need a separate issue for the new design.

[2016-05-02 21:38] #43 closed

[2016-05-03 01:27] lovettchris opened #48 "error: variable 'p_tmp_params' set but not used"
Sometimes P compiler generates a p_tmp_params field that is not used, this generates an error from GCC compiler.  One can disable that error, but I'd prefer not to do that.

[2016-05-03 01:29] lovettchris opened #49 "error: no previous prototype for 'P_FUN_Client_ANON0_IMPL'"
GCC complains if a C function has no prototype.  One can disable that error my adding -Werror=missing-prototypes, but I'd prefer not to do that.  One easy solution would be to add the keyword "static" at the beginning of the function which declares that this function is internal to the module, which it is in our case.

[2016-05-04 20:39] lovettchris opened #50 "whitespace normalization"
Let's do a big scrub across the code base to normalize newlines and replace tab characters with spaces so we stop getting "diff's" that show more changes than were actually made.  This needs to be planned at a time when folks don't have big changes they need to merge...

[2016-05-04 20:48] desaiankush commented on #50
I dont have any uncommitted changes in the main branch.
Do we have to do this in all the branches ?

[2016-05-04 20:51] lovettchris commented on #50
Once done you might want to pull it into your branch before making big changes…

From: Ankush Desai [mailto:notifications@github.com]
Sent: Wednesday, May 4, 2016 1:48 PM
To: p-org/P <P@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [p-org/P] whitespace normalization (#50)

I dont have any uncommitted changes in the main branch.
Do we

[2016-05-04 20:52] lovettchris commented on #50
But if that is not practical and you have big changes in your branch that you cannot push up to the master branch then we may need to come up with a different plan…something more incremental perhaps…

From: Chris Lovett
Sent: Wednesday, May 4, 2016 1:52 PM
To: 'p-org/P' <reply@reply.github.com>; p-org/P <P@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [p-org/P] whitespace

[2016-05-04 20:56] shazqadeer commented on #50
I am worried that if it is not done across all branches then when a merge from a branch back to main happens, we will be back in the same soup that we are in now.

[2016-05-04 21:03] lovettchris commented on #50
Right, but if you do it in all branches you will still have a merge problem because it will think that is a conflicting edit I think.  We may need to do a test run on a single file and see what happens…

From: Shaz Qadeer [mailto:notifications@github.com]
Sent: Wednesday, May 4, 2016 1:56 PM
To: p-org/P <P@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Author <author@noreply.github.

[2016-05-04 21:19] lovettchris commented on #50
Ok, I removed TAB chars from Prt.h, can you do the same in your branch then try and merge my change into your branch and see what happens ?

See change https://github.com/p-org/P/commit/4da6fd0d9ce40328b573d2b4455e53c757e3c0e6

PS: I used “Select all” + “Edit -> Advanced -> Untabbify Selected Lines”.

From: Chris Lovett
Sent: Wednesday, May 4, 2016 2:03 PM
To: 'p-org/P' <reply@reply.github.com>; p

[2016-05-05 12:44] paulthomson commented on #50
It looks like there is an option to ignore whitespace changes when merging:
http://stackoverflow.com/questions/5256769/git-merge-and-fixing-mixed-spaces-and-tabs-with-two-branches

I have no experience with it though.

[2016-05-05 23:55] ellab123 opened #51 "Static error is not detected when the same event is used in goto transition and in "defer""
[EventDeferredTransDoSameState.txt](https://github.com/p-org/P/files/251377/EventDeferredTransDoSameState.txt)
Static Error is not detected if the same event is used in “goto” and deferred
-	see attached test, lines 24-25 (change file extension from .txt to .p before compiling).
Note that two other combinations of duplicate events are detected as static errors:
- same event is used in “goto” and “

[2016-05-06 00:15] desaiankush commented on #51
Hi Ella,
I dont think this is a problem as far as I remember. Not sure if the semantics have changed after that.
Defer is considered as an action handler and hence
       //defer PONG;
	//on PONG do Action1;
is like defining multiple action handlers for the same event and is considered as an error.

        on SUCCESS goto WaitPong;
	defer SUCCESS;

This is fine because one is an action handler an

[2016-05-06 20:58] ellab123 commented on #51
Hi, Ankush,
Just to be sure I understand: are you saying that the attached test is compiled correctly and there should be no static error?

[2016-05-06 22:23] shazqadeer commented on #48
fixed

[2016-05-06 22:23] #48 closed

[2016-05-07 00:45] shazqadeer commented on #49
Done.

[2016-05-07 00:45] #49 closed

[2016-05-07 00:46] shazqadeer commented on #51
I think Ankush is right about his recollection of the design.  But I am now wondering if the design should be changed to meet Ella's expectations.  It is just confusing to allow more than one "action" for an event in a state.

[2016-05-07 00:46] shazqadeer commented on #51
Sorry, closed by mistake.

[2016-05-07 05:20] desaiankush commented on #51
This design decision was made to be consistent. For example, because of push-transitions there is a possibility that actions and transitions may be defined for an event in a state (inherited actions). In that case, transition gets higher priority over actions.

[2016-05-09 22:30] desaiankush commented on #50
Hi Chris,
Can you do this change on the entire main branch.
I will take care of the merging part for my modp branch.
Please let me know when you done with this change as I would like to branch
out after that.

Regards
Ankush

On Wed, May 4, 2016 at 1:39 PM lovettchris <notifications@github.com> wrote:

[2016-05-09 22:52] lovettchris commented on #50
Ok, I will coordinate with Shaz and get this done.

From: Ankush Desai [mailto:notifications@github.com]
Sent: Monday, May 9, 2016 3:30 PM
To: p-org/P <P@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [p-org/P] whitespace normalization (#50)

Hi Chris,
Can you do this change on the entire main branch.
I will take care of the merging pa

[2016-05-24 22:18] lovettchris opened #52 "Optimize PrtAssert overhead"
Running with PrtAssert I get 226052 steps per minute and without I get 241069, so PrtAssert is currently costing about 6% which seems a bit high.  It would be nice to reduce that cost somehow or make it optional under #if DEBUG flag so we can build a "fast" build when we need one.

One simple optimization is to define PrtAssert like this:
# define PrtAssert(c,m) if (!(c)) { _PrtAssert(c,m); }

Inl

[2016-05-25 03:14] shazqadeer commented on #52
6% for PingPong is indeed significant.  The overhead may go up if there are larger values floating around.  #if DEBUG solution looks good to me.  If DEBUG is not set PrtAssert becomes a no op.

[2016-06-03 12:24] akashlal opened #53 "Compilation error doesn't report the line number correctly"
The attached program has multiple declarations of the same variable. The error message doesn't point to the location:

multipledef.p (0, 0): same name appears more than once in name tuple or named tuple type
Compilation failed

[multipledef.zip](https://github.com/p-org/P/files/297544/multipledef.zip)

[2016-06-05 15:48] akashlal opened #54 "subtyping for map/seq"
When a value of type `map[any,any]` is cast to a variable of type `map[int,int]` does this involve checking if every key and value present in the map can be cast to `int`? Or does the cast happen immediately but the next time one reads the map, the cast is done  then?

[2016-06-05 22:37] shazqadeer commented on #53
Fixed.

[2016-06-05 22:37] #53 closed

[2016-06-05 22:38] shazqadeer commented on #54
The cast check happens immediately.  Note that the cast check is emitted only in the generated Zing code and not in the generated C code.

[2016-06-05 22:38] #54 closed

[2016-06-06 08:27] teja5832 opened #55 "Can we have empty tuples in P?"

[2016-06-06 16:10] desaiankush commented on #55
No, empty tuple types are not allowed in P.

[2016-06-06 16:10] #55 closed

[2016-06-09 22:52] lovettchris commented on #52
Turns out the overhead can be much higher if you are passing around large data structures.  So I checked in my fix under a new #define PRT_NO_ASSERT flag.  The Release build sets this and gets much higher performance than the Debug build.  If you pass a 10 element sequence in pingpong you will see a 18% perf improvement in the release build if you turn on PRT_NO_ASSERT.  Between Release and Debug

[2016-06-20 06:12] clovett opened #57 "Add numeric operators on foreign types"
It would be nice if our foreign "float" types could be used more naturally in the P programming language.  For example, if I could write this:

var x : float32;
var y : float32;
x = 10;
y = 10 / 3;

This could be done if you had a standard way of naming foreign operator stubs which you map this division operation to, for example, the name in this case might be: P_FUN_OperatorDivideFloat32Float32 a

[2016-06-20 18:26] lovettchris opened #58 "~\PrtDist\Test\TestSolution.sln does not build."
This solution doesn't build, saying PrtDistSerializer.h is missing.  Is this test obsolete?

[2016-06-20 18:41] desaiankush commented on #58
This solution is old and may not have caught up with the changes in runtime.
I will fix it. Thanks !

[2016-06-20 18:41] desaiankush commented on #52
@lovettchris Do you think we can close this issue now ?

[2016-06-20 18:43] desaiankush commented on #39
Closing. The foreign type implementation has been updated.

[2016-06-20 18:49] lovettchris commented on #52
Not sure I think Shaz had some more thoughts about this, he wanted to clarify which PrtAsserts should really be PrtExceptions and remain in the retail bits for that purpose.

[2016-06-20 21:59] shazqadeer commented on #39
The issue with typing errors hanging the compiler is not really resolved.  It is not really an issue with foreign types.  So, the description of this particular issue is misleading.  I will create a fresh issue.

[2016-06-20 21:59] #39 closed

[2016-06-21 10:00] shazqadeer commented on #52
I had a chat with Ethan, who designed the PrtAssert and PRT_DBG_ASSERT mechanism.  PRT_DBG_ASSERT macro exists only in debug build and is compiled away in release build.  It should be use for guarding against P runtime bugs.  PrtAssert is supposed to be on in both debug and release builds and is meant to guard against illegal use of P runtime APIs by clients.  The PrtAssert mechanism is less than

[2016-06-21 10:08] shazqadeer opened #59 "Hang in EnumerateProofs API in Formula"
The P type checker uses the  EnumerateProofs API in Formula to report typing errors.  Ever since typedef's were added to the P language, EnumerateProofs has been known to hang occasionally for ill-typed programs.  I had proposed the following to Ethan earlier.  The  proposal has yet to be implemented.

"My concrete proposal is that Formula provide another API, something called GiveMeOneProof(), th

[2016-06-24 03:15] lovettchris opened #60 "Need enums"
Can you add "enum" to P which simply maps to a "C" typedef enum ?

[2016-06-24 23:16] shazqadeer commented on #60
Something we could add to P are const defintions similar in spirit to the type definitions we already have.

const id: TypeExpr = Expr;

The expression defining the value of id would be allowed to refer to other constant names and the type checker would check that there are no cyclic definitions (similar to typedefs).

Would that be useful?

[2016-06-26 03:18] shazqadeer commented on #57
@clovett : Are you proposing something specific to float32/64 or a general mechanism for foreign types?

[2016-06-26 18:38] clovett commented on #57
Ideally something generalizable for any numeric type.

[2016-06-26 19:30] desaiankush commented on #60
What is TypeExpr and expr here ?

I understand expr is the value of the constant "id"

[2016-06-29 19:58] lovettchris commented on #59
[pbug.zip](https://github.com/p-org/P/files/340080/pbug.zip)

Attached pbug.zip contains a repro of the hang.  run "pc pfiles.p".  The problem appears to be

[2016-06-30 01:58] lovettchris opened #61 "Allow a goto anywhere"
It is tedious that I have to "raise someinternalevent" so that I can do "on someinternalevent goto nextstate", why not allow the short hand for this "goto nextstate" from inside a do block?

[2016-06-30 02:42] lovettchris opened #62 "Need a proper printf statement"
Perhaps modelled like this:

model fun printf(format:str, args:seq[any])
{
}

But P won't let me use strings.  Why no string datatype?  How does "print" work without that?

[2016-06-30 03:00] akashlal commented on #61
P# has this: the statement "jump state" does what you describe below. It is implemented as a shorthand for "raise blah" and "on blah goto state". We had to call it jump because goto is a reserved keyword in C#.

Akash

Sent from my iPhone

[2016-06-30 13:43] shazqadeer commented on #60
TypeExpr is the type of the constant and Expr is the value of the constant.

[2016-06-30 18:38] lovettchris commented on #60
Might it be more efficient to define a new type of expression called "ConstTypeExpr" and "ConstExpr" that only allows operations on literal values and other "Const" expressions? Would this speed up the formular compilation because it has less searching to do in StabilizeProofs...

[2016-06-30 22:49] lovettchris opened #63 "Need string datatype"
Mapping strings from mavlink to seq[int] is not working well, we need real string datatypes.

type mavlink_log_data
{
    id: int,
    ofs: int,
    count: int,
    data: **string**;
}

[2016-07-01 13:50] shazqadeer commented on #63
What are these strings used for?  If they are just names and no computation is done on them, we can just define string as a model (earlier known as foreign) type and avoid the string to seq[int] conversion.

[2016-07-01 13:53] shazqadeer commented on #62
I just defined a print statement in P syntax that takes a string as argument but I did not allow variables to be declared with string type.  Basically, strings are not full-featured types in P just yet.

What is the issue you are facing? Do you want to print a P data value using a format string like the following?

print "x = {0}", x;  // x is a P variable

[2016-07-01 13:54] shazqadeer commented on #61
We are going to add this feature to P.  It just needs to bubble up to the front of the queue of things to do.

[2016-07-01 19:08] lovettchris commented on #62
Strings are useful that’s all.  I can’t think of another language that doesn’t have them except assembler…  And by string the most useful is utf-16 encoded strings.

From: Shaz Qadeer [mailto:notifications@github.com]
Sent: Friday, July 1, 2016 6:53 AM
To: p-org/P <P@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [p-org/P] Need a prope

[2016-07-02 07:56] clovett opened #64 "States do not have their own local variables."
Why can't a state have it's own local variables?

[2016-07-05 23:57] shazqadeer commented on #59
This issue appears to have been resolved for now.

[2016-07-05 23:57] #59 closed

[2016-07-08 18:18] lovettchris opened #67 "Zinger cannot handle foreign functions inside expressions"
I have this function:

    model fun IsNaNFloat32(op1: float32) : bool
    {
       return $;
    }

If I use it like this:

    var f: float32;
    if (IsNaNFloat32(f)) {
    }

then Zinger complalins with this error:
    error: this function must be pure. Impure functions can only be called like "foo(...);" or "x = foo(...);"

If I move the function out to a separate statement:

    var f: float

[2016-07-08 18:42] lovettchris opened #68 "This produces bad 'C' output"
This program produces C code that doesn't compile:

	model type float32 = int;

	//// Converts an integer to float
	model fun IntToFloat32(val: int) : float32
	{
	   return default(float32);
	}

	model fun AddFloat32(op1: float32, op2: float32) : float32
	{
	   return default(float32);
	}

	main machine Test
	{
	  start state Init {
	    entry {
	      var f: float32;
	      f = IntToFloat32(1);

[2016-07-09 17:09] shazqadeer commented on #68
I have checked in a fix.

[2016-07-09 17:09] #68 closed

[2016-07-09 19:22] shazqadeer commented on #67
I am looking into this issue.  The translation of $ appears to be completely broken to me.  The only thing that will work right now is
if ($) {
...
}
that is, $ at the top level in an expression.  If $ is nested in an expression, it won't work. The problem you are seeing is restriction I imposed to ensure that $ do not get dynamically invoked when evaluating a function call embedded in an expressi

[2016-07-11 01:03] shazqadeer commented on #67
Here is the new story with $ and $$.  They are still treated as calls to impure functions.  So, they cannot appear nested in expressions.  I have tightened the type checker to check for this (it wasn't doing so earlier and consequently allowing bogus code to be generated).  At the same time, I allow impure functions to be called as

if (foo())

or

while (foo())

or

return foo();

So your example

[2016-07-11 17:26] shazqadeer commented on #60
I thought more about this issue.  I have decided that constants are not the way to go.  I will instead add enum types, which as Chris suggested, will compile down to C enum types.  Their runtime representation will piggyback on top of the existing representation of P int, i.e., I will not introduce a separate kind for them.

[2016-07-11 17:53] desaiankush commented on #60
Sounds good to me

[2016-07-12 23:17] shazqadeer commented on #60
I have added support for enum types.  There is one regression test:  Tst/RegressionTests/Feature4DataTypes/Correct/enum1.

I have requested Ella's help in adding more regression tests.

[2016-07-12 23:18] shazqadeer commented on #58
@desaiankush : Any word on this issue?

[2016-07-12 23:51] desaiankush commented on #58
Fixed.

[2016-07-12 23:51] #58 closed

[2016-07-14 05:33] teja5832 opened #72 "Doubt about semantics"
In the file Tst\RegressionTests\Feature2Stmts\Correct\receive12\receive12.p, line 20 says
b = new B(this);

However, B's start state's entry action Init does not take an argument - it looks like
machine B {
	start state Init {
		entry {
			raise Unit;
		}
                ...
This seems to pass the type check. What are the semantics of this? Is the argument 'this' dropped?

[2016-07-15 00:08] lovettchris opened #75 "list containment"
You provide "in" operator for maps, but not lists.  Any reason for that limitation?  Sometimes it is useful to know if an object has already been added to a list...

[2016-07-15 04:21] shazqadeer commented on #75
Unlike the "in" operator for maps, the "in" operator for sequences could be easily implemented by the programmer.  At the time all this was done I couldn't think of a more efficient implementation that I would do in the runtime.  But we could revisit and add this operator on sequences also.

[2016-07-16 01:02] shazqadeer commented on #72
Yes, the argument "this" is dropped.  When an action handler does not declare a payload variable, it is automatically generated with type ANY.  That is why, the type checker does not complain.  Perhaps the type of the auto-generated payload variable should be changed to the NULL type.

@desaiankush: We had a discussion about this issue.  What conclusion did we come to?

[2016-07-19 05:30] teja5832 commented on #72
In that case, we can also do
b = new B();
without any type error. How does that work?

[2016-07-19 12:06] shazqadeer commented on #72
new B() is treated as new B(null).  The value null is actually passed into the entry function at runtime.  null is also a member of ANY type.

[2016-07-19 12:07] shazqadeer commented on #72
@desaiankush :  Could you please remind me of the discussion we had about the issues @teja5832  is raising?

[2016-07-19 14:43] teja5832 commented on #72
Is that how all other anonymous functions are treated too?

[2016-07-19 17:16] desaiankush commented on #72
Sorry about the late reply. I missed this thread.

@shazqadeer In the modp branch, we have made the payload type of an action handler as NULL if it does not declare payload argument.
@shazqadeer after this change the updated rule for constructor type is as follows:

	[ rule_Classes = '"error, msg: Payload type of constructor must be subtype of payload type of entry function of start state;"']
	Pay

[2016-07-20 03:06] shazqadeer commented on #72
I have checked in a fix for the typing rules for new M(). There are two aspects to my change:
1. Type of default payload argument:  Payload argument is automatically generated in two situations.  First, an event handler is not supplied at all.  In this case, I have preserved the behavior and left the type of payload to be ANY.  Second, an event handler is supplied but is missing an explicit payloa

[2016-07-20 07:48] teja5832 opened #76 "Halt event semantics"
What are the semantics of

"on halt goto S;"

?

[2016-07-21 18:58] shazqadeer commented on #76
halt is a keyword in P.  It is a special event whose payload is ANY type.  Its only role in the operational semantics is that if a machine terminates with an unhandled event, it is considered an error (and program execution is stopped) if and only if the unhandled event is different from halt.

[2016-07-21 18:59] shazqadeer commented on #72
I just checked in another fix after a discussion with Ankush.  This last fix makes the type system more relaxed by accounting for unused payload variables.

[2016-07-21 18:59] #72 closed

[2016-07-21 19:17] #76 closed

[2016-07-22 20:18] shazqadeer commented on #10
Enums have been added to P now.

[2016-07-22 20:18] #10 closed

[2016-07-22 20:19] shazqadeer commented on #18
The plan now is to eliminate the Zing language from the P pipeline and go directly to C#.  We are freezing feature addition in the P to Zing path.

[2016-07-22 20:19] #18 closed

[2016-07-22 20:20] shazqadeer commented on #19
We are freezing feature development in P to Zing path because the plan is to eliminate Zing from the P pipeline and go straight to C#.

[2016-07-22 20:20] #19 closed

[2016-07-22 20:22] shazqadeer commented on #62
Done.

[2016-07-22 20:22] #62 closed

[2016-07-22 20:25] shazqadeer commented on #60
Done.  Ella should create separate issues if she detects bugs in the enum implementation.

[2016-07-22 20:25] #60 closed

[2016-07-22 20:26] shazqadeer commented on #67
Closing this issue.

[2016-07-22 20:26] #67 closed

[2016-07-25 17:34] shazqadeer commented on #51
I think that the behavior should be as follows:
1. Error if some common event in "goto",  "push", or "do"
2. No error if same event in "deferred" and "goto"
3. No error is same event in "deferred" and "push"
4. No error if same event in "deferred" and "do"

Using the approach above, we do not lose any generality and it is less confusing to the programmer.  The reason for allowing an event to appea

[2016-07-26 03:49] shazqadeer commented on #51
On second thought, I think it is nicer and less confusing to disallow event duplication.  I have fixed the type checker.

[2016-07-26 03:49] #51 closed

[2016-07-26 20:36] shazqadeer opened #78 "removing main keyword"
I would like to remove the "main" keyword from the language.  The main keyword is used only for testing purposes.  My suggestion is to use as the main machine the one machine whose name is Main.

[2016-07-27 16:14] teja5832 opened #79 "Questions about monitors"
Can a monitor send itself an event like
send this, E, 1;
Can it have a state stack?

[2016-07-27 17:55] teja5832 opened #80 "Need a way to build on *nix systems - attached some scripts"
We need a way to build this on *nix systems[I work on a Mac :P]
Here's a beginning - build shell scripts corresponding to the ones on Bld/
It has been zipped as GitHub doesn't seem to accept sh files as attachments.
[Archive.zip](https://github.com/p-org/P/files/386749/Archive.zip)

[2016-07-27 18:02] teja5832 commented on #80
My build script gives the following error when run -

"/Users/suryatejachavali/P/P.sln" (default target) (1) ->
"/Users/suryatejachavali/P/Src/PrtDist/Core/PrtDist.vcxproj" (default target) (2) ->
  /Users/suryatejachavali/P/Src/PrtDist/Core/PrtDist.vcxproj(27,3): error MSB4019: The imported project "/Microsoft.Cpp.Default.props" was not found. Confirm that the path in the <Import> declaration is

[2016-07-27 18:20] teja5832 commented on #80
Changed scripts to make msbuild into xbuild and got the error
/Users/suryatejachavali/P/P.sln (default targets) ->
(Build target) ->
/Users/suryatejachavali/P/Src/Parsers/CParser/CParser.csproj (default targets) ->				/Users/suryatejachavali/P/Bld/Targets/compiler.targets (KillCompilerService target) ->
: error : Error initializing task KillProcess: Not registered task KillProcess.

[2016-07-27 19:00] lovettchris commented on #80
Ah, this is something I added, because I made the pc.exe compiler into a service that can be shared across invocations in order to make it faster.  If xbuild has no way to kill processes then you could make the "/shared" option itself optional and the killprocess only needs to be invoked when "/shared" is used.  Or find a way to kill processes using xbuild...

[2016-07-27 19:29] teja5832 commented on #80
Another question: in what part of the build process is P.4ml.g.cs generated?

[2016-07-27 19:40] lovettchris commented on #80
Inside Compiler.csproj you will see a custom target called "GenerateCodeFromLex" and another "GenerateParserCodeFromGrammar".  These use GPlex45.exe and GPPG45.exe command line tools.  These are managed tools, they might "just run" on Mono, or do Mono apps need recompilation?  If you need to rebuild them for mono then you can find the code here: http://gppg.codeplex.com/ and here http://gplex.code

[2016-07-27 20:06] shazqadeer commented on #79
A monitors cannot send an event or use a push transition.  It also cannot use defer.

[2016-07-27 21:33] teja5832 commented on #80
After a whole barrage of bugs and issues, I managed to get to a point where it gives me an error message which says:
/Users/suryatejachavali/P/P.sln (default targets) ->(Build target) -> /Users/suryatejachavali/P/Src/Pc/Compiler/Compiler.csproj (default targets) -> (BeforeBuild target) -> /Users/suryatejachavali/P/Src/Pc/Compiler/Compiler.csproj: error : /Users/suryatejachavali/P/Src/Pc/Compiler/D

[2016-07-27 21:46] teja5832 commented on #80
[Archive.zip](https://github.com/p-org/P/files/387253/Archive.zip)
Latest version of scripts

[2016-07-27 21:50] lovettchris commented on #80
'TaskLoggingHelper.LogMessage' is a core concept of MSBuildTasks - it is how the custom task communicates back to the VS user to tell them what is going on.  I'm surprised this isn't supported by xbuild.  But the call to LogMessage would be inside FormulaCodeGeneratorTask.dll.  The code for that lives here: https://github.com/Microsoft/formula/tree/master/Src/Extensions/FormulaCodeGeneratorTask, a

[2016-07-29 07:37] teja5832 commented on #79
Another question: can a monitor contain a receive statement?

[2016-07-29 14:33] shazqadeer commented on #79
No.

[2016-07-29 14:33] #79 closed

[2016-07-30 00:28] ankushdesai opened #81 "Function must return a value check"
Currently the check that a function with return type declared must return a value is implemented as:
`FunRetError ::= (cntxt: FunDecl).

[code]

We need to fix this with some dataflow analysis.

[2016-08-02 04:47] lovettchris opened #82 "invalid assignment. right hand side is not a subtype of left hand side"
Cannot assign an enum to an int in this case:

[code]

but it works if I add explicit integer values on the enum like this:
        enum PX4_CUSTOM_MAIN_MODE {
            PX4_CUSTOM_MAIN_MODE_NONE = 0,
            PX4_CUSTOM_MAIN_MODE_MANUAL = 1,
            PX4_CUSTOM_MAIN_MODE_ALTCTL = 2,
            PX4_CUSTOM_MAIN_MODE_POSCTL = 3,
            PX4_CUSTOM_MAIN_MODE_AUTO = 4,
            PX4_CUS

[2016-08-02 15:36] shazqadeer commented on #82
I thought that is the design we decided on together :-)

The idea here is that the programmer wants to treat enum values as their own type unless explicit integer constants are attached to them.  It gives them the control and still gets more out of the type checker.

[2016-08-02 19:37] lovettchris commented on #82
Well in practice it seemed inconsistent and undiscoverable.  Why not assign default integers when none are specified so the conversion is always possible?  This is how enums work in other languages.

[2016-08-02 19:45] lovettchris opened #83 "This is becoming tedious, I need C# "await" semantics..."
I'm finding this pattern show up over and over, I send a message and wait for a response either "CommandSucceeded" or "CommandFailed" and then proceed accordingly.  In C# this "**async**" pattern is one line of code thanks to the "**await**" operator.  I think I'm asking for a spin on your "receive" statement that can "receive any response" so I can then check what that response is.  But my goal i

[2016-08-02 20:40] desaiankush commented on #83
One design pattern I have used for handling this type of scenarios is to embedded the events "CommandSucceeded ", "CommandFailed"... into the payload of a parent event "ResponseAck".

Now you can write a single action handler
`
on ResponseAck (payload)
{
if(payload.ev == CommandSucceeded) ..
else ....
}
`

This will reduce the number of handlers you will have to write.

[2016-08-02 20:48] paulthomson commented on #83
Can you do something like this? I don't have P to hand right now to check. And is this still too verbose anyway?

[code]

[2016-08-02 20:55] desaiankush commented on #83
@paulthomson
Note that receive blocks all other events which is not what Chris is looking for.

[2016-08-02 20:58] paulthomson commented on #83
Ah I see. I wasn't sure from the example since there are only two handlers.

[2016-08-02 21:11] lovettchris commented on #83
Closer, how about:

state RequestAutoMode {

    entry {

        var answer = await request commander, Command, (caller=this, cmd=mav_cmd_do_set_mode);

        if (answer.event == CommandSucceeded) {

            autoMode = true;

            goto Ready;

        } else {

            goto Standby;

        }

    }

}

where the semantics of “await request” is to send the message, then wait for

[2016-08-02 21:55] paulthomson commented on #83
I wrote an actors framework somewhat recently where, essentially, each actor/machine had its own main "mailbox". But you could also create additional mailboxes.

So you could do (similar to P/P#):

[code]

Or you could do:

[code]

Thus, you would essentially have your own "channel" on which to receive the message. The machine still could not process other messages though---they still go into the

[2016-08-03 02:47] shazqadeer commented on #83
From what I can see, the main issue is the absence of a goto statement in P.  I am going to put that at the top of the stack now.  With that in place, the code will get much more compact.

[2016-08-03 04:09] shazqadeer commented on #83
I have two other syntactic suggestions that might help.  I would like your opinion.
1. Make the type declaration in the payload parameter of an event handler optional.  For example:

on CommandSucceeded do (cmd) {
        if (cmd == mav_cmd_do_set_mode) {
            autoMode = true;
            raise fmom_finish_mission_ready;
        }
    }

Of course, in some positions such as the entry or exi

[2016-08-04 03:33] desaiankush commented on #83
@shazqadeer
I am fine with removing the type of payload load from handlers. But I like the ":" after case.

Also, how up the stack is the addition of "goto". I guess we can add goto and the changes you suggested above. Then we should *Freeze* feature addition in P until we are done with modp integration and zing branch.

[2016-08-04 13:29] teja5832 commented on #78
If there is no main keyword or an isMain attribute, why is that not reflected in the Regression Tests?

[2016-08-04 14:24] shazqadeer commented on #78
Ella is in the process of updating the tests and the golden outputs.

[2016-08-04 15:20] teja5832 commented on #80
The xbuild man page has the following to say about MSBuildExtensionsPath. This environment variable is the place where it looks for the relevant DLL's.
       MSBuildExtensionsPath
              MSBuild extensions are usually installed in $(MSBuildExtensionsPath), which xbuild resolves to $prefix/lib/mono/xbuild . When used in Import, like:
                <Import Project="$(MSBuildExtensionsPath)

[2016-08-05 09:23] teja5832 commented on #78
Wow. Sorry for that!

[2016-08-05 15:25] shazqadeer commented on #78
The latest commit (by Ella) has changed the tests.

[2016-08-05 15:25] #78 closed

[2016-08-10 22:47] shazqadeer commented on #83
I have added goto statement to P.  I don't hear much enthusiasm for the other tweaks I mentioned so I will not implement those.

[2016-08-10 22:47] #83 closed

[2016-08-10 22:47] shazqadeer commented on #61
Done.

[2016-08-10 22:47] #61 closed

[2016-08-18 00:30] teja5832 opened #84 "Semantics of the goto statement"
Does a goto from an arbitrary point cause the exit action of the state of the machine to be executed? Also, the below code compiles. Does this mean we have a C-style goto?

[code]

[2016-08-18 00:33] desaiankush commented on #84
Yes, goto will cause the corresponding exit function to be executed.
Goto is close to the C-style goto with payload value.

[2016-08-18 01:57] #84 closed

[2016-08-30 02:53] teja5832 commented on #80
Why was the Unix/CMake-based build rolled back?

[2016-08-30 03:08] desaiankush commented on #80
@teja5832 It needed some more fixes. Should be available from tomorrow mostly.

[2016-08-30 14:16] teja5832 commented on #80
Build fails on a Mac running XBuild Engine Version 14.0 and Mono, Version 4.4.1.0. After some searching, it seems this is because CodeAnalysis works only in .NET 4.6+. There seems to be a NuGet workaround to this, but am not sure...

Here's the exact error message:

/Users/suryatejachavali/P/P.sln (default targets) ->
(Build target) ->
/Users/suryatejachavali/P/Src/Pc/Compiler/TestRoslyn/TestRosly

[2016-08-30 16:49] desaiankush commented on #80
You need to do nuget restore P.sln.
Will add that to the build.sh (sometime end of day) and let you know.

[2016-09-04 00:44] desaiankush commented on #80
Thanks to @thisiscam
We have a version of P working on Ubuntu/Mac and Windows.
@teja5832  Please try it and let us know.
Close the issue if you are satisfied :)

[2016-09-16 02:07] desaiankush opened #90 "change the option specifier in pc and pci"
Curently if we invoke:
`
mono Pc.exe  /home/pingpong.p
`
It considers the passed file name as an option.
It would be good to get a clean solution for this cross platform path problem.
Any suggestions and fixes ?
We can drop the case that / indicates start of a compiler option and use - instead ?
@shazqadeer @lovettchris

[2016-09-16 02:15] desaiankush commented on #80
Closing the issue considering that the pc builds and runs on ubuntu and mac.

[2016-09-16 02:15] #80 closed

[2016-09-21 07:54] desaiankush commented on #90
Fixed this with a macro for now.

[2016-09-21 07:54] #90 closed

[2016-09-29 21:39] clovett opened #91 "testP.bat x64 release, 26 tests fail"
Total tests: 606, Passed tests: 580, Failed tests: 26
List of all failed subtests: failed-tests.txt
List of all failed tests (to use for reset): failed-tests-for-reset.txt
To run kdiff3 on outputs for all failed tests: run display-diffs.bat
Tests failed.
Elapsed: 5902.78 seconds

[2016-09-30 16:46] clovett commented on #91
~\Tst\RegressionTests\Feature4DataTypes\DynamicError\CastInExprs1\Prt
~\Tst\RegressionTests\Feature4DataTypes\DynamicError\CastInExprs2\Prt
~\Tst\RegressionTests\Feature4DataTypes\DynamicError\CastInExprs3\Prt
~\Tst\RegressionTests\Feature4DataTypes\DynamicError\CastInExprs4\Prt
~\Tst\RegressionTests\Feature4DataTypes\DynamicError\CastInExprs5\Prt
~\Tst\RegressionTests\Feature4DataTypes\DynamicErr

[2016-09-30 16:50] clovett commented on #91
ERROR: ASSERT: Invalid type cast
EXIT: 1
Perhaps this is "release" is not doing PrtAssert properly....
but also see:
EXIT: -1073741819
EXIT: -1073740940
One of the Zing logs is longer

[2016-10-03 04:55] shazqadeer commented on #91
I am running x64 release now.  I was wondering if this issue repros only with x64.  Are you able to repro it with x86 release as well?

[2016-10-03 15:43] shazqadeer commented on #91
/runPrt option seems to be broken now.

C:\Users\qadeer\Work\P\Tst\..\Bld\Drops\Release\x86\Binaries\RunPTool.exe  /runPrt failed-tests.txt /Platform=x86 /Configuration=Release
### Unrecognized option: runprt
USAGE: RunPTool.exe  [options] [file with test dirs]
Options:
    /reset - remove old acceptor file, useful for generating new test baselines
    /cooperative - enable testing of cooperative

[2016-10-03 16:46] clovett commented on #91
I'll take a look...

[2016-10-03 16:48] shazqadeer commented on #91
Noticed another issue.  testp.bat takes args such as /nosync.  It looks like these args are being passed to RunPTool and RunPTool complains as a result.

Time Elapsed 00:02:51.29
Started:  9:41:10.63
Stopped:  9:44:02.14
Elapsed: 171.51 seconds
C:\Users\qadeer\Work\P\Tst\..\Bld\Drops\Release\x86\Binaries\RunPTool.exe  /nosync /noclean my.txt /Platform=x86 /Configuration=Release
### Unrecognized op

[2016-10-03 17:26] shazqadeer opened #92 "/runPrt option to testp is broken"
/runPrt option seems to be broken now.

C:\Users\qadeer\Work\P\Tst..\Bld\Drops\Release\x86\Binaries\RunPTool.exe /runPrt failed-tests.txt /Platform=x86 /Configuration=Release

Unrecognized option: runprt

USAGE: RunPTool.exe [options] [file with test dirs]
 Options:
 /reset - remove old acceptor file, useful for generating new test baselines
 /cooperative - enable testing of cooperative multitaski

[2016-10-03 17:27] shazqadeer commented on #91
Chris has already fixed the issue of 26 failing tests with x64 release build.  I have created a new issue for /runPrt problem.  So, I am closing this issue.

[2016-10-03 17:27] #91 closed

[2016-10-03 17:44] clovett commented on #92
[Fixed](https://github.com/p-org/P/commit/ebe4aa850bef0e9e02c7a4b7f7e746466dc712e6),

[2016-10-03 17:51] #92 closed

[2016-10-07 09:57] t-rasmud opened #93 "Input to DgmlLogViewer"
What is the command to generate the P log file that can be given as input to DgmlLogViewer?

[2016-10-10 08:47] teja5832 opened #95 "Sequence Inserts"
What would happen in the following case? Will the gaps in the middle of the sequence be filled with the default value for int? [The zing model does not, indeed throw an error.]

var s: seq[int];
s += (0,1);
s += (5,13);
assert s[3] == 0; //Default for int.

[2016-10-10 18:33] clovett commented on #93
DgmlLogViewer is a limited hack, it just parses output from some of the LogHandler functions that call PrtPrintStep and attempts to reassemble what happened from there.  There is a better way now using DgmlMonitorLib.  See the PingPongSimple for example of how to use it.  It can stream the events to Visual Studio if you have the DgmlTestMonitor VSIX extension installed (use the Connect method), or

[2016-10-10 18:36] desaiankush commented on #95
This is lead to an error in P.
For Seq += (Index, Value)
0<= Index <= sizeof(seq).
0 -> add at the start
sizeof(seq) append at the end.

[2016-10-10 18:44] #93 closed

[2016-10-10 21:12] jordonbiondo opened #96 "Build Failing on OSX"
Following the wiki instructions for building P with build.sh on OSX failed on my machine.

I first received this permissions denied error when trying to execute `SetupVsBinaries.cmd` in the FormulaCodeGeneratoryTask project because it doesn't have executable permissions, but this isn't the real issue. The real issue is that the build is trying to execute `SetupVsBinaries.cmd` as a shell command on

[2016-10-10 21:43] henesy commented on #96
What was the script that you replaced the .cmd with? I'm running into the same issue on Ubuntu Linux where the build fails on the same file.

[2016-10-10 22:00] desaiankush commented on #96
There was a recent change in Formula:
https://github.com/Microsoft/formula/commit/a7dd07057a99f792a99a67c87a2a7708a16a1c7b

And we didn't update the Linux build corresponding to it.
Will fix this in sometime. Thanks for pointing out.

[2016-10-10 22:20] clovett commented on #96
Yeah, but that change is only important if you are running Visual Studio at the same time as building those bits...

[2016-10-10 22:21] desaiankush commented on #96
Yeah, so I guess the solution would be to ignore this cmd for linux/OSX and do it only for windows platform?

[2016-10-10 22:24] lovettchris commented on #96
Right.

From: Ankush Desai [mailto:notifications@github.com]
Sent: Monday, October 10, 2016 3:22 PM
To: p-org/P <P@noreply.github.com>
Subject: Re: [p-org/P] Build Failing on OSX (#96)

Yeah, so I guess the solution would be to ignore this cmd for linux/OSX and do it only for windows platform?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view i

[2016-10-10 22:25] desaiankush commented on #96
@clovett Can you fix the formula repo ?

[2016-10-10 22:27] thisiscam commented on #96
Ignoring the call to the cmd file does not work.  I got the message below:
`/Users/jianqiaoyang/Desktop/p-org/P5/Ext/Formula/Src/Extensions/FormulaCodeGeneratorTask/FormulaCodeGeneratorTask.Targets: error : ### Please build /Users/jianqiaoyang/Desktop/p-org/P5/Ext/Formula/Src/Extensions/FormulaCodeGeneratorTask//Debug/x86/vs/FormulaCodeGeneratorTask.dll`

[2016-10-10 22:49] thisiscam opened #97 "Integrate build tracking system"
Right now it's very easy to break P's cross platform build during activate development; a good thing to do is to setup a build tracking system on this repo so that we can keep up-to-date changes for different platforms.

It should be very helpful in long runs.

[jenkins](https://jenkins.io) Might be a good place to start.

[2016-10-10 23:13] clovett commented on #96
I'm working on a fix...

[2016-10-11 00:40] clovett commented on #96
This should be fixed now.  I'm having other problems building on Unix, I get an error saying : **error** : Error initializing task Error: Could not load file or assembly 'Microsoft.Build.Tasks.v4.0' or one of its dependencies. The system cannot find the file specified.  So I have not been able to test my fix on Unix.

[2016-10-11 01:45] thisiscam commented on #96
The build succeeds now on my macOS, but still fails on Ubuntu 14.04, with the same message
`/home/user/Desktop/P5/Ext/Formula/Src/Extensions/FormulaCodeGeneratorTask/FormulaCodeGeneratorTask.Targets: error : ### Please build /home/user/Desktop/P5/Ext/Formula/Src/Extensions/FormulaCodeGeneratorTask//Debug/x86/FormulaCodeGeneratorTask.dll
`

@clovett for debugging the message you are seeing, which m

[2016-10-11 01:54] lovettchris commented on #96
This one is interesting, you do need to build Debug/x86/FormulaCodeGeneratorTask.dll in order for the build to succeed. Since this is a build task.

Does xbuild support custom build tasks?

From: Cambridge [mailto:notifications@github.com]
Sent: Monday, October 10, 2016 6:45 PM
To: p-org/P <P@noreply.github.com>
Cc: Chris Lovett <clovett@microsoft.com>; Comment <comment@noreply.github.com>
Subject

[2016-10-11 02:29] thisiscam commented on #96
After some investigation, the problem lies on the sensitivity of path in unix system. The MONO_IOMAP variable seems to hitting on an edge case that's causing it to not function properly. Notice the message below:
`error : ### Please build /home/user/Desktop/P5/Ext/Formula/Src/Extensions/FormulaCodeGeneratorTask//Debug/x86/FormulaCodeGeneratorTask.dll
`
It has two slashes before "Debug", also not i

[2016-10-11 03:01] teja5832 commented on #95
Thanks!

[2016-10-11 03:01] #95 closed

[2016-10-11 13:04] jordonbiondo commented on #96
@clovett A clean run of `./build.sh` now succeeds on my machine, thank you.

[2016-10-11 21:56] clovett commented on #96
Fixed.  This [commit](https://github.com/p-org/P/commit/356502fb46d700e84091313275cfd0a0bc97850a) pulls fix from [Formula git submodule](https://github.com/Microsoft/formula/commit/5d9850e417a628761963e019d50c5a1b62d384bc).

[2016-10-11 21:56] #96 closed

[2016-10-19 17:15] JALsnipe opened #98 "Cannot build P on Mac OS X El Capitan 10.11.6"
I'm having trouble building the compiler on Mac OS X El Capitan 10.11.6.

Relevant portions of the build log:

[code]

I have verified that I am using mono(>=4.5) and cmake(>=2.8) as stated in the wiki.

Mono:
[code]

CMake
[code]

[2016-10-19 17:53] shazqadeer commented on #98
I just pushed a fix. Please sync up and try now.

[2016-10-19 17:54] JALsnipe commented on #98
All fixed, thanks!

[2016-10-19 17:54] #98 closed

[2016-10-21 21:45] desaiankush opened #99 "Remove Boogie_Translation branch"
@akashlal @teja5832
Is the Boogie_Translation/Boogie_translation branch obsolete ?
Can we safely delete the branches ?

[2016-10-21 21:46] desaiankush commented on #99
And also the FSExp branch ?

[2016-10-21 21:56] shazqadeer opened #100 "linear variables in P"
I have added a feature for linear memory management to P.  I am writing this post to encourage you to try it out and provide feedback.

The problem I am trying to solve is to reduce the cost of cloning when values are passed as arguments to a function or sent across machines as the payload of an event.  My implementation is in two parts.  First, I have introduced the notion of pure functions as th

[2016-10-22 02:11] teja5832 commented on #99
Yes we can.

[2016-10-22 06:51] #99 closed

[2016-10-22 07:06] ivanov commented on #78
Section 2 of the P tutorial/manual still has the `main` keyword in the PingPong sample program.

[2016-10-22 07:30] pdeligia commented on #100
This is very interesting @shazqadeer. What you describe above sounds very reasonable, and the use of `xsfer` and `swap` seem straightforward enough from a programmability point of view. Regarding the position of `xsfer` and `swap`, I actually like it as it is (declared after the variable), but I am sure this is very subjective, so it would be great to get more opinions on this. I also like the key

[2016-10-22 10:04] paulthomson commented on #100
I really like it! I think I would need to write a lot of P code to truely evaluate it though. Here are some potential concerns, although I may have misunderstood some things:

1. I have a large, pure function with parameters. I modify the function and, for convenience, I end up assigning to a parameter (not as a "return" value). Now the function is impure. I may not notice this and/or I may not re

[2016-10-22 18:22] shazqadeer commented on #100
Thanks for the feedback. I respond to the points raised by @paulthomson .

1. An optional and compiler-checked pure annotation on a function is a great idea.  I will add it to P.

2. Yes, "swap" or "xfer" can be used to call a pure function.  The compilation of only that call site will be affected.  The other call sites that do not use "swap" or "xfer" are compiled in the standard manner without c

[2016-10-23 05:37] akashlal commented on #100
It is natural that, at the time of writing a procedure, to determine what the "out" variables of the procedure are. The caller then determines which of the out variables it cares about. In this sense, it is natural to annotate formals that are returned by a procedure. Call sites then use swap (or not) to actually obtain the value.

[2016-10-23 14:47] BusyJay opened #101 "Can P be compiled with dotnet core?"
Hi,

I notice that the build instructions use mono to build P on Linux and OS X. Can I use dotnet core to do the job too?

[2016-10-23 19:43] thisiscam commented on #101
Theoretically I don't see how P can't be compiled with dotnet core.

However, the current project still uses msbuild tools(i.e. .sln files), and I'm not really familiar about the progress of dotnet core since I remember it uses some json file as build files?

Notice that P compiler uses some UseTask directives in the build file, so we can't create brandly new json specifications that mimics the cu

[2016-11-05 07:41] teja5832 opened #102 "Receive statement"
The regression tests
P\Tst\RegressionTests\Feature2Stmts\Correct\receive6\receive6.p
P\Tst\RegressionTests\Feature2Stmts\Correct\receive12\receive12.p

say "This sample tests that a receive statement ignores the event handlers of the enclosing context."

Specifically, the receive statement on line 27, receive6.p handles the event E, but not F; however, it receives an F. I have two questions here:

[2016-11-14 23:47] shazqadeer commented on #102
a. F is deferred. The semantics of receive statement defers all events that are not explicitly handled by the received statement.

b. The event G, similar to the event F in the example, would stay in the queue.

[2016-12-12 12:56] teja5832 commented on #102
By extension, if there is no "case null", and the queue does not contain an event registered to the receive block, is it a runtime error?

[2016-12-13 00:34] shazqadeer commented on #102
No, it is not.  The machine just blocks.

[2016-12-22 16:12] zvrba opened #103 "Updated documentation - the tutorial is outdated?"
I typed in PingPong example from "P tutorial" paper, only to get an error at `main machine Client`. By further experimentation I figured out that the "new" way to declare a main machine is to name it `Main`. The elevator example in the paper "P: Safe Asynchronous Event-Driven Programming" is even farther from the current syntax. In regression tests I see statements like `receive` and `announce` wh

[2017-01-03 04:45] shazqadeer commented on #100
I have changed the keyword xfer to move.

[2017-01-03 12:44] #102 closed

[2017-03-07 17:13] ankushdesai commented on #82
@shazqadeer I forgot what is the story of enum implementation right now?
Can we close this issue?

[2017-03-07 17:17] ankushdesai commented on #52
@shazqadeer @clovett Do you remember what was the status of this issue?

[2017-03-07 17:17] #50 closed

[2017-03-07 17:21] ankushdesai opened #105 "Create a test-case for case-handler"
Need to add a test-case for receive case-handler that tests the scoping of variables logic in C# generated code.

[2017-04-05 21:39] Cyberider opened #110 "Unfriendly "@" characters in source directory names for git's master.zip file of this repo"
Any directory in this repo that contains an "@" character in its directory name does not get any of its files or directories added to the downloadable zip file for this repository.

To confirm this problem:
Download the master.zip file: https://github.com/p-org/P/archive/master.zip
All of these directories are empty:
   /P-master/Ext/Formula
   /P-master/Ext/PSharp
   /P-master/Ext/Zing

[2017-04-05 23:58] lovettchris commented on #110
No this is not what is happening.  Those are "git submodule" directories, you have to clone and run "git submodule init" and "git submodule update" to get those bits, since they live in other git repos.

[2017-04-06 18:24] Cyberider commented on #110
Thank you. I have done what you say and everything has built  with lots of warnings but no errors.

However I cannot find "`Pc.exe`"
When I search my cloned repo for "`*.exe`" I get this:
[code]
And the ./Bld/build directory has this:
[code]

I'm using Ubuntu 16.04 amd64

[2017-04-18 14:12] ankushdesai opened #111 "Fix the refinement checking algorithm"
The refinement checking algorithm needs to be updated so that it takes into account constructor argument

[2017-04-18 14:48] ankushdesai opened #112 "Finish the implementation of safe and assume"
The current implementation is complete.
We generate code corresponding to safe and assume in the generated code.
The ptester and pruntime needs to do be updated so that they ignore assertion failures

[2017-04-18 15:00] ankushdesai commented on #105
This is resolved by Ella.

[2017-04-18 15:00] #105 closed

[2017-04-18 15:05] ankushdesai commented on #111
Also, the refinement checking needs to be updated to take into account permissions embedded in references. One corner case is remaining.

[2017-04-18 15:06] ankushdesai opened #113 "Make a pass over the Link.4ml rules"
Make a pass over the rules for module operator to make them in sync with the recent paper. Especially the new flexible export rule.

[2017-04-18 18:31] shazqadeer commented on #52
The final status of this issue is the following: PRT_NO_ASSERT is available for eliminating all runtime assertions.  This is not set by either the Debug or the Release build.  It has to be explicitly used.

[2017-04-18 18:31] #52 closed

[2017-04-18 18:55] shazqadeer commented on #82
The final status is that if integers are not explicitly specified, then default values are picked.  enum types are now subtypes of int always.  Take a look at this sample: Tst\RegressionTests\Feature4DataTypes\Correct\enum2\enum2.p

[2017-04-18 18:55] #82 closed

[2017-04-24 19:19] ankushdesai opened #115 "Relaxing the rules for composition (private machines)"
Suppose P and Q contain some common machines.  We can allow the composition of P and Q provided the following conditions hold for each common machine m:
1.	Machine m is private both in P and in Q;
2.	The map L(m) in P is identical to the map L(m) in Q.

*Shaz Email*
I did manage to remind myself of what happens with the rename operator.  My understand is the set of machines of a module is always t

[2017-04-24 19:24] ankushdesai opened #116 "Machine can export multiple interfaces"
Here are the changes that would happen:
1.	In the definition of the initial configuration of a module, drop the requirement that RI is one-one.  Everything else remains the same.  BTW, there is a typo in 5 (a) with the subscript of RM after the implication.
2.	In the EXPORT rules, replace the constraint m \in M_P \setminus cod(IX_P) with m \in M_P to allow IX to be many-one.  Interestingly, HIDE i

[2017-04-24 19:27] ankushdesai opened #117 "Add a new type in P to address the issue with **any** and private events"
The annotation solution would have been fine if you only needed to add the annotation to event but adding the annotation to interface type declaration seems messy.  I feel it is much easier to think of the annotation as a qualifier on the any type, e.g. any<ES>, where ES is the name of an event set.  This approach is basically the second solution you have outlined.  No new dynamic checks need to b

[2017-04-25 17:46] ankushdesai commented on #116
The rules for export and typo has been fixed in the paper.

[2017-04-26 00:19] Maryam81609 opened #118 "Building P fails complaining type or namespace PSharp does not exist"
Hi,

I am trying to build P on Ubuntu 14.04 amd64, and have installed:
    - cmake 3.7.2
    - mono 4.8.1
The build fails with the following 11 errors:

[code]
I do not need PSharp, but only P have installed.

Thanks,
Maryam

[2017-04-26 05:24] ankushdesai commented on #118
Thanks, Maryam for trying this out.
Some of the recent changes led to broken linux build.

I have fixed it now.
You can use pc.exe for compiling sample P code.

Let us know if you face any problem.

[2017-04-26 05:24] #118 closed

[2017-04-26 19:07] ankushdesai opened #119 "Move the embedded permissions computation to linker phase."

[2017-04-26 22:30] ankushdesai commented on #116
@shazqadeer.  This has been fixed now.

[2017-04-26 22:30] #116 closed

[2017-04-27 00:55] ankushdesai commented on #113
This has been fixed now @shazqadeer and the rules are in perfect sync with the current draft of paper.

[2017-04-27 00:55] #113 closed

[2017-04-27 02:49] ankushdesai commented on #111
This is also fixed now. Taking care of constructor arguments when creating interfaces during refinement checks.
@shazqadeer

[2017-04-27 02:49] #111 closed

[2017-04-27 09:19] ankushdesai commented on #117
This problem is also resolved now. @shazqadeer
There is a new type added now any<eventset>.

[2017-04-27 09:19] #117 closed

[2017-04-27 09:20] #119 closed

[2017-04-27 14:52] shazqadeer commented on #101
This question has popped up again.  If we want P to be a serious contender in the robotics space, ensuring that the tools work on .NET Core would be a great step forward.  Any volunteers for investigating this issue?

[2017-04-27 15:04] shazqadeer opened #120 "Splitting a machine declaration across multiple files"
@ellab123 is doing a project to translate driver state machines written in a P-like visual language into a textual P program.  Each driver state machine is split into two files---sm.json, a JSON-formatted representation of the states and transitions and a text file sm_models.txt containing the machine variables and implementations of model functions referred to in sm.json.  It would be really nice

[2017-04-27 15:09] shazqadeer opened #121 "extern declarations for events"
My latest revision to the separate compilation feature for P associates events with compilation units so that the struct for each event can be generated along side the C code for the compilation unit.  This means that different compilation units cannot easily refer to each other's events.  The only way to do it would be split the events out into yet another compilation unit which is bad for softwa

[2017-04-27 17:35] ankushdesai commented on #121
I agree with you that this would be a good thing to add to make the separate compilation feature complete.
I guess the way to go would be to add EventProto.

I like this design because otherwise, events have to be put into a separate file and referenced as compilation unit if they are shared across compilation units.

[2017-04-27 17:53] ankushdesai commented on #120
I don't think this is **too** much work.
We need to extend the parser so that we allow multiple declarations of a machine if annotated as "partial".
The union of all the attributes (declared partially across files) of a machine is easy as we are generating separate decls for them. The StateDecl, TransitionDecl, FunDecl.... have owner information (the owner information will have to updated) in them

[2017-04-27 17:56] ankushdesai commented on #101
I agree.
Also, I had to remove PTester from the linux build system as it recently added a dependency on PSharp and I was not able to build PSharp using mono.

The linux build right now also generates a lot of warnings.

If there are no takers for this then I can take a stab at it during summer after the semester ends.
May be @thisiscam would be interested in it too.

[2017-04-27 20:16] shazqadeer commented on #121
Great, we have consensus then.  I will let you know if I manage to get to it.

[2017-04-27 20:23] shazqadeer commented on #120
Yes, I am fine with assuming all the declarations are in the same compilation unit.

Do we really need the partial keyword?  We can probably avoid it by always doing a union of all machines declared under a particular name.  Is that too error prone?

My understanding of the parser is that the MachineDecl structure is allocated for the enclosing machine on demand and then picked up by all declarati

[2017-04-27 21:42] ankushdesai commented on #120
I think it is error prone, in cases where the union is unexpected.
With **partial** annotation, the programmer is very explicit that this machine declaration can reappear and should be unioned. For the rest, raise an error of double declaration of machines.
The rules would be similar to C# where if a machine is declared partial then it is partial everywhere.

For the second point. The solution I w

[2017-04-27 21:47] shazqadeer commented on #120
I am fine with the **partial** annotation.

Your solution with machine names sounds reasonable.  I don't think it will break anything.  But, there is still the issue of creating a single MachineDecl from multiple partial machine declarations in the text.  Which particular declaration should the MachineDecl correspond to?

[2017-04-27 21:54] ankushdesai commented on #120
I was thinking that during the parsing phase if a machine is declared as partial then there will be no MachineDecl generated for it (but we will generate a PartialMachineDecl(name:String)).
A MachineDecl for it will be created during checker phase by combining all the relevant attributes together, using the PartialMachineDecl and other StateDecl, etc to get the start state and so on.

[2017-04-27 22:10] shazqadeer commented on #120
That sounds good to me.

[2017-04-27 22:19] ankushdesai opened #122 "Add regressions for any<es>."
Add regressions for any<es> both static and dynamic failures.
Static failure: https://github.com/p-org/P/blob/master/Src/Samples/regressions/anytype.p
Multiple Exports: https://github.com/p-org/P/blob/master/Src/Samples/regressions/interfacesubtype.p

[2017-05-01 04:58] shazqadeer opened #123 "numeric types"
C offers a whole set of number types, including
- float, double
- {unsigned, signed} * {8, 16, 32, 64}

It would be great if P offered these types.  Now that we have P -> C# and Zing will be eliminated, we can easily support all these types which are supported by C#.

[2017-05-01 05:07] shazqadeer opened #124 "structs"
All types in P are boxed, even primitive types like int, event, and bool.  This design means that tuples and named tuples of primitive types are not compatible C structs.  So, hardware buffers that are transferred over the "wire" must be martialed in order to pass into the P runtime, as opposed to a simple memcpy.  Interaction with hardware becomes expensive as a result.  What can we do to support

[2017-05-01 06:44] akashlal commented on #124
Why can't this be done using a foreign type and model functions for setting, getting and copying?

Akash

Sent from my iPhone

[2017-05-01 06:55] ankushdesai commented on #124
I think we can provide a construct in P which resembles C struct.
We allow only primitive types like int, bool, etc in it.
The marshaling and unmarshalling of these types can then be done with memcpy etc.

[2017-05-01 07:10] ankushdesai commented on #124
@akashlal
I guess the question to consider is whether the programmer is fine with having these values as just foreign types?  Or he wants them to be stored in P types at some-point during execution.
If at some point the value stored in the foreign types flow into the P program and needs to be stored in P types then we will pay the price Shaz was talking about.

Otherwise, we can get away with fore

[2017-05-01 07:12] ankushdesai commented on #123
How about strings?

[2017-05-01 14:49] shazqadeer commented on #123
Yes, strings would be a great addition.  They are not supported by C natively but they would be a very useful addition.

[2017-05-01 14:52] shazqadeer commented on #124
I am talking about the situation where the programmer is not content with these structs as being uninterpreted.  In fact, she would like to write P code manipulated these values as structs/tuples.  In that case, modeling them as foreign types will not suffice.

[2017-05-01 14:56] shazqadeer commented on #124
I had the same idea but I have been struggling with a design decision: should we introduce a new type called "struct" or should we automatically infer any named-tuple that transitively contains inside it only primitive types as a "struct"?  I don't actually have a good idea of how the latter would work.

[2017-05-01 15:11] ankushdesai commented on #124
It is better to have them be explicit for now
In that case programmer will use structs whenever he is concerned about time and performance.

[2017-05-20 05:37] Meai1 opened #125 "Does not build, only thing I changed was upgrade to toolset 141"
![bla](https://cloud.githubusercontent.com/assets/1112157/26273359/22f48270-3d2f-11e7-906e-9224a14d1561.png)

[2017-05-21 16:35] SolalPirelli opened #126 "Minor mistake in section 3.3 of the manual"
First, thanks for writing such a nice manual. :)

In section 3.3 of the manual, at the end of page 11, the description says "The monitor exits the hot `Init` state only when all nodes becomes empty".
The sentence was clearly meant to reference the `Wait` state instead of `Init`.

Also, even more minor, in the same section, the indentation at the end of the `Wait` state of `Liveness` is wrong, and

[2017-05-22 09:30] maacl opened #127 "Statecharts"
The language looks very interesting but for complex problems, managing a herd of state machines quickly becomes challenging, even with the useful visualizations.

I would suggest you consider support for [statecharts](http://www.inf.ed.ac.uk/teaching/courses/seoc/2005_2006/resources/statecharts.pdf) which greatly assists in controlling the combinatorial explosion often resulting from the use of st

[2017-05-22 09:42] igalic opened #128 "Method 'Microsoft.Build.Utilities.TaskLoggingHelper.LogMessage' not found."
This build error:
[code]

may or may not be caused by a missing dependency:

[code]

versions:

[code]

[2017-05-22 18:23] citizinf opened #129 "Fix last 4 pages of pdf to avoid textbox overflow"
All "description" values are not line-wrapped, causing some to run out of the box and even off the page.

[2017-05-22 20:57] ankushdesai commented on #128
I am hoping that you are using right version of mono. Can you try running build.sh in sudo mode

[2017-05-22 20:57] #125 closed

[2017-05-23 07:00] drewhk opened #130 "Make binaries available"
This is a feature request to make pre-built binaries available for those who don't want to install VS and SDKs as they are rather heavyweight (I only need the C++ build tools).

[2017-05-23 07:37] igalic commented on #128
the mono version is, as the version outputs say, `5.0.0.0`
and, yes, i can do that. but that appears not to be the reason the build succeeds.

Something I overlooked earlier was:

[code]

[2017-05-23 23:07] thisiscam commented on #128
Maybe related to xbuild being deprecated. The LogMessage module's package reference is included here:
 https://github.com/Microsoft/formula/blob/35249eea56126080da3472b9102e493c3ddf61ab/Src/Extensions/FormulaCodeGeneratorTask/FormulaCodeGeneratorTask.csproj#L52
However, probably xbuild is not finding it?

Either ways, good solution would be to move to msbuild

[2017-05-23 23:14] thisiscam commented on #128
For more info, to make msbuild work, we have to remove all .vcxproj from Linux.sln, as msbuild on linux doesn't ignore them by default

[2017-05-28 15:30] maacl commented on #127
Why has this been marked wontfix? I would consider it an enhancement request at least worthy of consideration?

[2017-05-28 15:49] xorphitus commented on #128
The same errors occurred to me, and I resolved it by installing msbuild.
(So, xbuild may cause the errors)

My environment:

* Arch Linux
* mono 5.0.0.100
* cmake 3.8.0

[2017-05-28 19:00] thisiscam commented on #128
Pull request https://github.com/p-org/P/pull/132 and https://github.com/p-org/P/pull/133 had this fixed. We should decide which mono version we are going to support --- if < 5.0 is still supported, then we should have a version test in build.sh to detect which of msbuild or xbuild to use

[2017-06-02 22:40] ankushdesai commented on #122
@shazqadeer
I have also added a new type called "data" which represents any type but no with empty permission set.
We had to add this because we dont allow creating empty event sets.

[2017-06-03 00:54] shazqadeer commented on #122
We should start adding the regression tests related to interfaces, sends, receives, etc. to the main suite of regression tests.

[2017-06-11 05:37] #128 closed

[2017-06-11 05:37] ankushdesai commented on #124
@shazqadeer Closing this issue based on our last discussion

[2017-06-11 05:37] #124 closed

[2017-06-11 05:45] ankushdesai opened #134 "Combine compiler and linker phase"
Currently, linker only accepts one .p file during linker phase.
This constraint needs to be relaxed to enable writing testscripts split across files.

[2017-06-11 05:51] shazqadeer commented on #134
Have you tried it? I thought multiple .p files at the linker phase are accepted.

[2017-06-11 06:05] ankushdesai commented on #134
I didn't finish that part of the implementation and currently, it only parses only one .p file.
I will fix this.

[2017-06-15 17:20] kartelan opened #135 "Location of samples incorrect in wiki"
Wiki [here](https://github.com/p-org/P/wiki/Creating-a-P-Program) mentions that samples are located in ~\P\Src\PrtDist\Samples but I actually see them in ~\P\Src\Samples

[2017-06-16 21:40] shazqadeer commented on #135
Fixed.

[2017-06-16 21:40] #135 closed

[2017-06-16 21:43] shazqadeer commented on #120
This feature is implemented and checked in master.  A machine can be split across multiple files in the same compilation unit by putting the partial annotation on it.  A sample is available in the folder <PRoot>\Tst\RegressionTests\Feature1SMLevelDecls\Correct\Partial.

[2017-06-16 21:43] #120 closed

[2017-06-16 21:46] shazqadeer commented on #123
In a private discussion, @ankushdesai  and I decided that adding this cross-product of numeric types is an overkill.  Instead, we will stick to the int type, interpret it as int64 for .NET and as either int32 or int64 for native based on how the runtime is compiled.  We will not add a string type at the moment.

[2017-06-16 21:46] #123 closed

[2017-06-16 21:47] shazqadeer opened #136 "remove Src\Samples\regressions folder"
The Src\Samples\regression folder should either be deleted or its contents moved to an appropriate location in Tst\RegressionTests.

[2017-06-16 21:50] shazqadeer commented on #57
We have decided to add a float type natively to P.  For .NET, float will compile to double.  For native, float will compile to either float for 32-bit compilation and double for 64-bit compilation.  I will take responsibility for implementing float.

[2017-06-16 21:53] shazqadeer commented on #63
@clovett, @ankushdesai: I never got an answer to my question.  Is there any computation performed on values of string types in robotics code or are they just copied from one place to another and printed etc.? The question is whether we should support it natively or as a model type implemented in foreign code.  If we go with the former option, then there is a bunch of work involved, as in deciding

[2017-06-16 21:55] shazqadeer commented on #122
@ankushdesai : Please take the lead on this issue.  Feel free to assign me to write test cases for specific features.

[2017-06-16 22:20] lovettchris commented on #63
Given that strings are heavily used in other languages for logic and control, not just debugging, I would recommend a first class string type in P.  I could imagine writing code like this in a P program:

if (done.model == "3dr solo") {
 ....
}

and so on.

[2017-06-17 21:57] shazqadeer commented on #63
If we add strings to P, we have to decide what encoding to use.  There are many choices starting from base 8 to base 64 (full Unicode).  Any thoughts?

[2017-06-17 22:14] shazqadeer commented on #134
I would like to suggest a different approach in which the linker and compiler phases are brought closer together through the following steps:
1. Unify the parsing of input P files so that a file provided in the compiler phase is allowed to contain module, test, and implementation declarations.
2. The /link option is an indicator to perform some checks that all used symbols are defined.  This optio

[2017-06-18 03:40] lovettchris commented on #63
utf-8, same as std::string in C++.  See [UTF-8 Everywhere ](http://utf8everywhere.org/) for a good explanation.

[2017-06-18 19:11] ankushdesai commented on #134
One of the reasons why module system analysis was pushed to linker phase (and the ModP parser was kept separate) was that we wanted to keep module system as a wrapper on top of P until we are confident.
This step is towards making ModP mainstream. With this in mind, I agree with your next steps.

I am still not very convinced about why we need the linker checks to be separate. Since the dependency

[2017-06-19 01:14] shazqadeer commented on #134
Why are you saying the dependency relation is a DAG?  It could be circular because of extern fun and machine declarations.

[2017-06-19 05:03] ankushdesai commented on #134
I take back the DAG comment.

We will have to allow sends, receives, exports and creates annotations on extern machine decls.

[2017-06-19 15:22] shazqadeer commented on #134
I am happy to discuss whether we want to restrict the dependency relation to DAG but that is a separate discussion which is orthogonal to the unification of compiler and linker phase.

I am still trying to process your suggestion.  If all linker checks are performed during compilation itself, then I imagine that the /link option could be dropped for all outputs except for C code.  The reason that

[2017-06-19 18:54] ankushdesai commented on #134
Yes, you are right.
We cannot eliminate /link option for the C code gen, this is mainly because of the enums (integers indexes) corresponding to events, IorM, etc. that have to be initialized for the entire program.
But for the rest of the pipeline, we can eliminate the /link option.

I am more inclined towards eliminating /link as it is less work for the programmer and I don't see any real benefi

[2017-06-19 18:59] ankushdesai commented on #134
I think it is possible that if a programmer ignores linker warnings then it will lead to runtime failures.

For example, in extern declaration of a function if the programmer under-specifies creates that does not match the definition, then it could lead to a runtime failures.

Similar argument holds for extern machine-decls.

So I am not really sure that ignoring linker warning is safe!

[2017-06-19 20:52] shazqadeer commented on #134
To answer your question, we should first clarify what is the set of linker checks.  I don't think we should think of all checks that are being performed today when /link option is passed as linker checks.  I expect most of them will become compiler checks, e.g., all the well-formedness checks for modules.  As a rough approximation, I would like to consider only those errors that are about used sym

[2017-06-19 23:16] ankushdesai commented on #134
Ok, got it.
I agree with your proposal:
1) Combine the parser for Compiler and Linker.
2) Move the checks performed during Linker phase into Compiler phase. Some of these checks which are with respect to undefined symbols will become warnings but rest of them will remain error.
3) We will still support /link option (possibly rename it /linkC) which will be only doing linker level code gen for C ou

[2017-06-19 23:42] shazqadeer commented on #134
Yes, this looks good to me.

[2017-07-06 02:46] alexreinking opened #138 "P's swap keyword is unsound."
The following program subverts the type system by using the `swap` keyword to assign a `machine` to an `int` variable. This works with any two types.

[code]

The following error is thrown at runtime, upon reaching the second `print` statement:

[code]

The key issue is that an additional check is required that the formal parameter type is a subtype of the actual argument type. But since the argum

[2017-07-06 03:32] alexreinking commented on #138
A similar issue can be produced with named tuples:

[code]
Even base-type variables are broken with swap:
[code]

[2017-07-06 03:39] ankushdesai commented on #138
I guess the solution is as you mentioned, make sure that are types are same wherever swap is used. Be it assignment or passing to functions.

[2017-07-11 20:49] ankushdesai commented on #134
@shazqadeer Time to reopen this issue.

[2017-07-11 20:50] ankushdesai commented on #57
@shazqadeer Time to reopen this issue.

[2017-07-11 21:07] maacl commented on #127
Could you at least comment on why this is not feasible?

[2017-07-11 23:11] shazqadeer commented on #127
@maacl : Thanks for your interest.  StateCharts is definitely interesting for visualization but the current set of P developers don't have much experience or expertise with visualization.  That is the only reason why we have reduced the priority of visualization-related work items.  Do you have any suggestions for the kind of visualizations you might want?  Any interest in providing them for the g

[2017-07-12 04:01] maacl commented on #127
@shazqadeer Thanks for responding to this. I should clarify that visualisation is not the only reason I think statecharts could be of interest to the P language. Statecharts which introduces the concept of hierarchical statemachines is a great way of modelling many systems that become unwieldy using simple statemachines. For visulalisations to makes sense P would have to support such hierarchical

[2017-07-12 18:11] shazqadeer commented on #138
I would prefer not to change the static typing rules for swap assignments and parameter passing.  If you take a look at Tutorial\CoarseGrainedLocking sample, you will see that the typing flexibility is crucial.

a = b swap

Consider the statement above.  It is already checked that the static type of b is a subtype of the static type of a.  If, in addition, we introduce a runtime check (equivalent

[2017-07-12 18:22] shazqadeer commented on #115
This discussion needs to be revisited because of recent changes to the module system in the latest version of the "compositional reasoning" paper.  Here is my proposal:

1. A machine automatically becomes private once all events received by it have become private.
2. A private machine should be automatically renamed to a globally unique name different from any other machine name.  We need to desig

[2017-07-12 18:24] shazqadeer opened #139 "adding type machine<es>"
machine<es> is a more precise version of any<es>.  In addition to providing an upper bound on permissions stored in values, it also provides the guarantee that the value is a legal machine identifier.

[2017-07-12 18:36] shazqadeer commented on #127
P supports the "push" transition out of states which allows creation of a stack of states in the control of a state machine.  P also allows states to be grouped.  Together, these two features allow encoding hierarchical state machines by convention.  @ellab123 recently used these features to encode hierarchical state machines for a driver development team in Windows.

@maacl :  Do you have some co

[2017-07-12 18:36] ankushdesai commented on #139
I will take care of this soon.

[2017-07-12 19:01] maacl commented on #127
@shazqadeer I am not currently using P but currently evaluating it. The specific application I have in mind is modeling of legal contracts, which would require visualisation to be feasible, both for informal verification but also for communication between the parties. Is there a publicly available example of a hierarchical state machine in P using the push and grouping features?

[2017-07-12 22:29] shazqadeer commented on #127
@ellab123 : Could you please respond to the question from maacl?

[2017-07-12 23:45] ankushdesai commented on #134
@shazqadeer (1) has been taken care of in the removelinker branch.

[2017-07-16 19:07] daidoji opened #140 "Instructions updated for VS2017"
Not a Windows expert so I've spent about 2-3 hours trying to get the dependencies right so this project would build and am still getting a lot of errors (snippet pasted below).  It would be helpful to update the build instructions for 2017 if someone has a few moments.

`e1SMLevelDecls\Correct\MaxInstances2Test.cs(16,17): error CS0234: The type or namespace name 'VisualStudio' doe
s not exist in t

[2017-07-16 23:53] ankushdesai commented on #140
Can you please explain what you are trying to do ?

We are currently working on upgrading P to VS2017.
It should be available in next couple of days.

[2017-07-17 00:33] shazqadeer commented on #140
@daidoji: Actually, I have finished a port of P to VS2017 in the vs2017 branch.  Three of us have verified that it works.  It would be great if you could try it also.  You have to install Windows SDK version 10.0.15063.0 in addition to VS 2017.  After the installation, try to run "Bld\build.bat release x64" from the P root directory.  Let us know what happens.

[2017-07-17 05:53] shazqadeer opened #141 "eliminating model types and machines"
I would like to eliminate the notion of model types and machines from P, thereby also eliminating the notion of erasure.  Instead, we will introduce the notion of types and (global) functions without implementations in P.

type T;

fun Foo(x: int) : (int);

The above declarations indicate that the type T and function Foo are implemented in foreign code.

The effect of model functions and types can

[2017-07-17 06:02] ankushdesai commented on #141
I agree that we don't need model type anymore.

model T = T';

The above behavior can be obtained by implementing T as T' when testing and as T in the actual implementation.

[2017-07-18 23:50] ankushdesai commented on #140
The master branch has been updated to use VS 2017 now.

[2017-08-01 22:03] ankushdesai commented on #57
@shazqadeer float type has been added to the master branch now.
Some of the examples are:
RegressionTests\Feature3Exprs\Correct\float1
RegressionTests\Feature3Exprs\Correct\float2
RegressionTests\Feature3Exprs\Correct\float3

Will add dynamic and static error regressions now.

[2017-08-03 17:51] ankushdesai commented on #121
@shazqadeer: Whats the final call on this feature.

[2017-08-03 17:56] ankushdesai commented on #63
@shazqadeer: What is the final call on this feature?

[2017-08-03 18:32] ankushdesai commented on #57
@shazqadeer  Added few more regressions related to the static and dynamic error.
Closing this issue now.

[2017-08-03 18:32] #57 closed

[2017-08-03 19:37] shazqadeer commented on #141
Model types/functions/machines have been eliminated.

[2017-08-03 19:37] #141 closed

[2017-08-03 19:38] shazqadeer commented on #140
Master branch is working fine on VS 2017.  So closing this issue.

[2017-08-03 19:38] #140 closed

[2017-08-03 19:45] shazqadeer commented on #121
We should add this feature.  It has low implementation complexity since code generation is not affected; only static analysis and summaries of compilation units are affected.  At the same time, the software engineering benefit is considerable.  However, I also think that this feature should be added only after the compiler and linker have been unified.

[2017-08-03 19:47] shazqadeer commented on #138
I would like to twist @ankushdesai's  arm to take this bug fix on.  It would be a forcing function to learn about the part of type system related to swap/move.  Let us see if there is push back :-).

[2017-08-03 19:54] shazqadeer commented on #63
Chris' argument for putting string in the language are persuasive.  But I would still like to approach the task of adding string to P piecemeal.  At the moment, the priority of a unified reference compiler supersedes everything else.  After that, I would first like to add the string type as a foreign type with operations such as constructors, printing, etc.  We can provide the models and implement

[2017-08-03 23:42] alexreinking opened #143 "Test cases no longer valid P code"
The following changes broke test cases.

1) The removal of model functions broke the code in ModP\..\OSRDriver.p, which uses them
2) The introduction of the `data` type keyword broke the following two files, which use variables named "data"
   * ModP\..\two-phase-commit.p
   * RegressionTests\F2\..\lock.p
3) Introducing the `float` type keyword broke Reg\F4\..\foreigntypes.p

[2017-08-04 00:11] ankushdesai commented on #143
Thanks !
These have been fixed now.

[2017-08-04 00:11] #143 closed

[2017-08-07 14:29] Maryam81609 opened #144 "Build fails-Antlr code generator file is missing"
Hi,

I am building the latest version of P, that fails due to the following 2 errors. The second error seems to be a result of the first error.

[code]
Thanks,
Maryam

[2017-08-07 14:54] shazqadeer commented on #144
Can you first try to build from the command line:

Bld\build release x86

That should pull in the dependencies.

[2017-08-08 00:47] Maryam81609 commented on #144
Thank you for the response. My sudo permission on the machine I was building is limited, and I think the issue was related to sudo permission. I successfully built it on a VM with sudo.
However, on Mac I get a different error as follows:

[code]

[2017-08-08 19:29] Maryam81609 commented on #144
No. I still have this problem on Mac.

[2017-08-08 19:53] shazqadeer commented on #144
@Maryam81609 : What is the build command you are using on mac?

[2017-08-08 20:07] Maryam81609 commented on #144
I use the following two commands:

[code]

[2017-08-09 19:53] daidoji commented on #140
Thanks, will test it out tonight!  I was just trying to build but am not a VS expert.

[2017-08-10 17:54] ankushdesai commented on #144
@thisiscam: Can you please help with this?

[2017-08-10 17:56] ankushdesai opened #145 "Add assertion line numbers to the ptester error trace"
For example, for the test:
\P\Tst\RegressionTests\Feature4DataTypes\DynamicError\anyType

Zing reports:

Error:
P Assertion failed:
Expression: assert(tmpVar_8.bl,)
Comment: anyType.p(34,4,34,10): error PC1001: Assert failed

but PTester’s output is:

OUT: <CreateLog> Machine Main(1) is created
OUT: <StateLog> Machine Main(1) entered state S
OUT: exiting with PRT_STATUS_ASSERT (assertion failure)

[2017-08-11 06:16] alexreinking opened #146 "Clarify the rules for shadowing names"
It is not clear to me why the following program compiles

    enum Example { e1, e2, e3 }

    machine M {
        start state S {
            entry {
                var Example, e1, e2, e3 : int; // shadowing names is commonly allowed in other languages
                var el : Example; // why is this ok?
            }
        }
    }

What is the type of `el` in this program? Is it an enum? Whe

[2017-08-11 06:32] alexreinking commented on #146
Another peculiar program produces a variable that simply cannot be used:

    enum M { e1, e2, e3 }

    machine M {
        start state S {
            entry {
                var myVar : M;
                // myVar = e1; // not OK, which makes sense if the machine M shadows the enum M
                // myVar = new M(); // this is *also* not OK. Which definition won?
            }
        }

[2017-08-11 09:15] thisiscam commented on #144
I can't perform nuget restore (due to internet issue).

Though this one looks similar to the above error message:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/562ae95f-e042-45c2-9821-62cac49d0152/building-net-40-web-sites-metaproj-files?forum=msbuild

[2017-08-11 10:49] thisiscam commented on #144
Actually, I managed to compile the repo from scratch(after fixing my internet issue) on macOS.

@Maryam81609 Are you using msbuild (instead of xbuild)? Which mono version are you using?

[2017-08-11 16:38] Maryam81609 commented on #144
Thank you @thisiscam!
I am using msbuild:
[code]
And I am using mono 5.0.0.78. When I run xbuild in command line, it says:
[code]

[2017-08-11 16:46] Maryam81609 commented on #144
Should I use xbuild or msbuild?

[2017-08-11 20:31] alexreinking commented on #146
@ankushdesai @shazqadeer - could I get an answer to this?

[2017-08-11 20:37] ankushdesai commented on #146
Interesting.  Let me take a look.

[2017-08-11 20:51] ankushdesai commented on #146
The answer to your first problem is:
// Names can hide other names in the following order: local variable hides machine variable hides (event name + enum name).

Example is a name of a typedef I don't think we allow hiding of type names or namespaces.

For the second part it is a mistake. I am checking-in a fix at the parser level that machines and enums types have disjoint names.

[2017-08-11 20:54] alexreinking commented on #146
Since I'm writing the ANTLR-based typechecker, could I get a complete list of name-conflict rules?

[2017-08-11 21:01] ankushdesai commented on #146
(1) Events must have distinct names.
(2) Event-Sets must have distinct names.
(3) Machines, Interfaces, Enums, Typedefs have distinct names.
(4) Machine protos have distinct names
(5) Funct protos have distinct names.
(g) Global Fun Decls have distinct names.

Module level:
(1) Modules have distinct names.
(2) Tests have distinct names.

For more information please look at the IsValidName function

[2017-08-11 21:41] shazqadeer commented on #146
(1) Events and enum values must have distinct names.

Otherwise, the following comment does not make sense:

// Names can hide other names in the following order: local variable hides machine variable hides (event name + enum name).

[2017-08-11 21:46] alexreinking commented on #146
I don't understand (3) and (4) -- can a Machine and a Machine prototype have the same name?

    machine M {
        start state S {
            entry {
            }
        }
    }

    extern machine M ();

    machine N {
        var my_m : machine;

        start state S {
            entry {
                my_m = new M(); // what gets constructed?
            }
        }
    }

[2017-08-11 21:47] ankushdesai commented on #146
Yes, Machine and Machine Proto can have same names.

[2017-08-11 21:47] shazqadeer commented on #146
I think so. In this case, the extern declaration is redundant.  The machine declaration locally is constructed.  You can pretend as if the extern declaration is being "satisfied" locally.

[2017-08-11 22:01] alexreinking opened #147 "Machine constructors allow passing arguments to no-argument machines."
It seems to me that the following program should not compile since we're creating the same machine with different arguments.

    extern machine M (/* int */);
    machine N {
        var my_m : machine;

        start state S {
            entry {
                my_m = new M(); // If we uncomment int above, the compiler complains about this line
                my_m = new M(3); // why does this

[2017-08-11 22:05] ankushdesai commented on #147
This is allowed because no matter what you pass as an argument to the constructor the machine is never going to use it as it does not have any constructor argument in its start state.

You can make this rule stricter in your current implementation.

[2017-08-11 22:06] alexreinking commented on #147
Does this apply to functions, too? Does the current implementation allow passing extra arguments to functions?

[2017-08-11 22:07] ankushdesai commented on #147
No, it's not allowed for functions.
I see that it's asymmetric and may be not allowing such a thing would be a cleaner solution.

[2017-08-11 22:08] alexreinking commented on #147
In the new implementation, I will enforce the "no extra arguments" rule uniformly.

[2017-08-11 22:08] #147 closed

[2017-08-11 22:10] alexreinking commented on #146
Hmm, if we are going to allow extern machines and "local" machines to have the same names, then we need to check that their start states are compatible. The following program compiles, though I really don't understand why _both_ constructors are acceptable. I would expect one of them to "win".

    extern machine M (int);
    machine M { start state S { entry (x : bool) {} } }

    machine N {

[2017-08-11 22:16] shazqadeer commented on #146
The real bug here is that the compiler is not checking that the prototype matches the machine.  Perhaps, this is one of the checks that is being performed in the linker phase, which is supposed to be unified with the compiler.

@alexreinking :  For the new compiler, let us go ahead and enforce this check.

[2017-08-11 22:18] ankushdesai commented on #146
The higher preference is given to MachineDecl than to MachineProto.
Since MachineDecl has no constructor arg like I mentioned in other issue you can pass it extra args.

Error about different constructor args in MachineProto and MachineDecl is caught at linker time.

[2017-08-11 22:27] alexreinking commented on #146
Can spec machines have the same name a non-extern machine? An extern machine?

[2017-08-11 22:31] shazqadeer commented on #146
Spec machines should be treated just like ordinary machines for this discussion.  In other words, pretend the spec keyword is erased for this discussion.

[2017-08-11 22:32] shazqadeer commented on #146
By the way, spec machines are not constructible and the entry function of their start state should not be allowed to take any argument.

[2017-08-11 22:35] alexreinking commented on #146
Lastly, can enum item names conflict with anything? That wasn't clear.

[2017-08-11 22:36] shazqadeer commented on #146
Enum value names must not conflict with each other (even across different enum types) and must not conflict with event names.

From: Alex Reinking [mailto:notifications@github.com]
Sent: Friday, August 11, 2017 3:36 PM
To: p-org/P <P@noreply.github.com>
Cc: Shaz Qadeer <qadeer@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [p-org/P] When do two names conflict? (#146)

Lastly, ca

[2017-08-12 00:19] thisiscam commented on #144
One should use msbuild.

I'm using mono 5.0.1.1, though I'm not sure how much of difference it makes..

`Mono JIT compiler version 5.0.1.1 (2017-02/5077205 Thu May 18 16:11:37 EDT 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  x86
	Disabled:      none
	Misc:

[2017-08-12 04:55] Maryam81609 commented on #144
Thank you @thisiscam!

I could build P using mono 5.0.1.1.

[2017-08-12 04:55] #144 closed

[2017-08-15 06:01] shazqadeer commented on #138
@ankushdesai : How about the following proposal:
1. Add a dynamic cast for swap assignments.
2. Enforce type equality for swap parameter passing in functions.

I am just going for simplicity of implementation.  As long as we allow swap assignments for different types, we do not lose any generality.

[2017-08-15 06:05] ankushdesai commented on #138
I like the idea of dynamic cast. We already support it for float and interface types.

I also like the idea of enforcing type equality at functions, less confusion and it would make code generation simple as well.

[2017-08-16 17:48] shazqadeer commented on #146
@ankushdesai : What is the status of this issue?

[2017-08-16 18:26] ankushdesai commented on #146
@shazqadeer I have committed the changes that fix the name conflict bug that was reported.

[2017-08-16 18:27] shazqadeer commented on #146
ok, closing this issue.

[2017-08-16 22:27] cmeiklejohn opened #148 "Build fails on Windows"
I'm following the build instructions, but I think I've got some sort of missing dependency or an incorrect version of something.

[code]

[2017-08-16 22:38] shazqadeer commented on #148
What was the build command you used?

[2017-08-16 22:40] cmeiklejohn commented on #148
```Bld\build.bat debug x86```

[2017-08-16 22:42] shazqadeer commented on #148
Did you run it from VS2017 command prompt?  Can you check that the path C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\
VC\VCTargets\Platforms\Win32\Platform.targets  exists on your computer?

[2017-08-16 22:45] cmeiklejohn commented on #148
I did run it from the VS2017 command prompt.

[code]

[2017-08-16 22:47] shazqadeer commented on #148
@ankushdesai :  It looks like @cmeiklejohn's installation of VS2017 community edition has some missing pieces.  I believe you installed the community edition as well.  Do you have any advice?

[2017-08-16 22:54] ankushdesai commented on #148
I also installed community edition but it worked for me.
@cmeiklejohn Can you make sure you have installed support for C++ compiler when installing VS.

[2017-08-16 23:05] cmeiklejohn commented on #148
That appears to have been the issue.

[2017-08-16 23:05] #148 closed

[2017-08-16 23:05] shazqadeer commented on #138
I have fixed this problem.  Now P compiler reports static error on the first example and cast exceptions on the latter two.

[2017-08-17 20:29] ankushdesai commented on #145
The P C# runtime generates line numbers for the assertion and hence closing this issue

[2017-08-17 20:29] #145 closed

[2017-08-17 20:30] ankushdesai commented on #138
This bug has been fixed.

[2017-08-17 20:30] #138 closed

[2017-08-17 20:31] ankushdesai commented on #121
We are planning to drop extern declarations from the language.
Hence, closing this issue.

[2017-08-17 20:31] #121 closed

[2017-08-17 20:32] ankushdesai commented on #115
@shazqadeer Is this discussion relevant with respect to the latest version of formalism ?

[2017-08-17 21:09] shazqadeer commented on #115
I think it is relevant but it is very far in the future and needs to be revisited.  If we choose to revisit, we should create a new issue.  Therefore, I am closing it.

[2017-08-17 21:09] #115 closed

[2017-08-21 17:15] cahartsell commented on #127
I am also interested in hierarchical machines, particularly ones that support historical transitions as described in the Statecharts paper. Currently I am using two separate machines where the primary machine only sends events to the secondary machine when in one particular state, then waits for a response. This gives a pseudo-hierarchical machine, but is somewhat cumbersome especially since P doe

[2017-08-26 04:50] shazqadeer commented on #127
@cahartsell : Could you point us to the StateCharts paper that describes "historical transitions"?

[2017-08-26 06:05] cahartsell commented on #127
@shazqadeer The [statecharts](http://www.inf.ed.ac.uk/teaching/courses/seoc/2005_2006/resources/statecharts.pdf) paper maacl linked to previously discusses entering a state using history starting on page 8 (page 238 going by the printed page numbers). I don't see the words "historical transitions" verbatim though, sorry if that caused any confusion.

[2017-09-01 18:16] Maryam81609 opened #150 "/shared option fails on Linux"
The command:

[code]

fails due to the following exception:

[code]
This is happening on Mac.

[2017-09-01 18:57] shazqadeer commented on #150
I am not able to repro this on Windows.  Can you try to run with /shared option (which is the option that looks for and creates PCompilerService.exe) on a simple example?

@ankushdesai, @thisiscam :  Did you guys ever have any trouble with the /shared option on mono?

[2017-09-01 20:04] ankushdesai commented on #150
The compiler service doesn't work on Linux.
I have not spent time on fixing this.
Please do not use /shared option for now.

On Fri, Sep 1, 2017, 11:57 AM Shaz Qadeer <notifications@github.com> wrote:

--

Sent from phone.

[2017-09-01 20:05] shazqadeer commented on #150
Do you have any idea what the issue is?

[2017-09-01 20:10] ankushdesai commented on #150
It uses an API to start the service which doesn't work on Linux using mono.
I didn't search for alternatives and hence not sure how to fix the problem.

[2017-09-01 22:19] Maryam81609 commented on #150
It is compiled without using /shared option.
What does this service is supposed to do? i.e., what the /shared option does?

[2017-09-02 14:48] shazqadeer commented on #150
The /shared option starts the P compiler in a separate process called PCompilerService.  If pc.exe is invoked with /shared option twice, the first invocation will create the PCompilerService and the second invocation will detect that PCompilerService is already running and simply connect to it.  The communication between Pc.exe and PCompilerService.exe happens via a named pipe.  The reason for the

[2017-09-06 01:01] ellab123 opened #153 "UnitTests runs not working for full regression"
When running full regression test suite under P\Tst\RegressionTests on UnitTests, only first 50-100 tests run OK; after that, there's and error:
Message: System.AggregateException : One or more errors occurred.
  ----> System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

This error usually occurs for the first failing test only; all tests afterwards also fail,

[2017-09-06 08:12] lovettchris commented on #153
I wonder if there's a memory leak in the PCompilerService?  Check the memory usage of those processes and see if they steadily increase...

[2017-09-06 16:00] ellab123 commented on #153
I can see that the memory usage in general does increase, so there must be a leak somewhere...
I will look at the separate processes specifically.

[2017-09-07 02:50] shazqadeer opened #154 "a machine identifier with empty permission should be impossible in P"
I would like to propose that the P type checker make it impossible to create a machine identifier value whose permission is empty.   Three separate checks are needed to pull this off.

1. The statement "x = new I" is allowed only if the receive set of I is nonempty.  If the receive set of I is empty, the only possibility ought to be "new I" which creates an instance of I but does not allow a refer

[2017-09-07 03:23] ankushdesai commented on #153
@ellab123 Just to confirm that the problem is in CompilerService, can you try to run unit tests using compiler (not pcompilerservice).

[2017-09-07 14:59] shazqadeer commented on #139
I am closing this issue subsequent to the discussion yesterday.  The semantics mentioned for machine<es> in this issue is different from what we think we need.  A new issue will be opened later as needed.

[2017-09-07 14:59] #139 closed

[2017-09-07 19:58] ellab123 commented on #127
@cahartsell
The RadioManager.p test shows how push/pop can be combined with groups to mimic hierarchical machines in P:
P\Tst\RegressionTests\Integration\Correct\RadioManager\RadioManager.p

In P, groups of states can be defined as follows:
group S {
	state S1 {}
	state S2 {}
}
States in the group S has to be referred to as S.S1, S.S2, including the references inside the group S.
If we want to mim

[2017-09-07 23:42] Maryam81609 opened #155 "What are .4ml files?"
Hi,

I see that the new version of P generates a foo.4ml file as a summary file which is used by plink. I did not find on the Internet what kind of files have .4ml extension. Is that a specific extension that is defined and used in P?

Thanks

[2017-09-07 23:51] shazqadeer commented on #155
It is an internal format used by P.  It is actually a file that is processed by Formula which is used internally inside the P compiler.

[2017-09-08 00:32] Maryam81609 commented on #155
Thanks!
What language their code has been written in?

[2017-09-08 04:44] shazqadeer commented on #155
The Formula system I am referring to is the following:  https://github.com/Microsoft/formula.

The .4ml files are input to the formula tool.

[2017-09-08 05:34] Maryam81609 commented on #155
Oh, I was not aware of that. Thank you so much!

[2017-09-08 05:34] #155 closed

[2017-09-08 16:03] shazqadeer opened #156 "automatic renaming"
Once issue #154 is addressed, a P module X will have the property that if
(1) interface I is bound to machine M in X,
(2) I is private in X,
(3) all receive events of M are private in X,
then a machine identifier (I,_,_) cannot leak outside P.  Consequently, any renaming of interface I leaves the trace semantics unchanged.  I suggest that for such an interface I, renaming be applied automatically

[2017-09-10 03:38] ankushdesai commented on #153
@ellab123 Can you try to reproduce the problem by disabling the parallelism.
I feel that the problem is with parallelism, My server machine has 64GB and hence am not able to reproduce the problem.

[2017-10-29 08:51] alexreinking commented on #154
I will be sure to implement this check in the new compiler.

[2017-11-01 13:37] dwaynebradley opened #157 "P language integration to Visual Studio Code"
Is there a plugin available for using P in VS Code? If not, does anyone have suggestions for an IDE to use for coding in P?

[2017-11-01 18:17] ankushdesai commented on #157
We have syntax highlighting for P in VS code:
https://github.com/p-org/P/tree/master/Src/Tools/VSCode/msr-vscode-p

We do have something in Sublime as well:
https://github.com/p-org/Sublime-P

If you have suggestions for improvement let us know.

[2017-11-01 18:35] dwaynebradley commented on #157
Awesome! Thank you @ankushdesai.

[2017-11-01 18:35] #157 closed

[2017-11-20 21:56] ankushdesai opened #158 "Finalize the P type system with respect to machines and interfaces"
There is one other proposal we should consider.
It makes machine identifier types more verbose (and informative) but it has an elegance to it.

In this proposal, a machine identifier type is a pair from ({machine} U InterfaceName) \times EventSetName.  Syntactically, it could look like
[code]
The idea is that I (or machine) provides information about the first component of the machine identifier a

[2017-11-21 00:13] ankushdesai opened #159 "Eliminate any type"
This was a proposal made by Shaz in the past discussions.

Do we want to eliminate "any" type and replace it with union type in ML

declare an explicit union type

`type TypeUnion  =  t1 of T1 | t2 of T2 | t3 of T3;`

@shazqadeer @alexreinking

[2017-11-25 01:15] shazqadeer commented on #159
Real type unions would be welcome.  But I wonder if the "any" type can really be dropped.  I remember the scenario where the code for a transport layer uses a datatype such as (e: event, v: any) to transport any event-payload pair.  Type unions will not help here.  We need dependent types.  Does ML have the equivalent of "any"?

[2017-11-25 01:17] shazqadeer commented on #158
In this proposal, how would I represent a type in which the permission set could be anything?

[2017-11-27 02:35] ankushdesai commented on #158
I is a short hand for I[I.receiveset] similarly machine is the shorthand for machine[allEvents].

[2017-11-27 02:51] shazqadeer commented on #158
I suspect it is not machine[allEvents] you are talking about but just machine.  machine[ES] means that the permission set is exactly ES but interface could be anything.  machine means that both interface and permission set could be anything.  Is my understanding correct?

[2017-11-27 03:05] ankushdesai commented on #158
Yes, you are right. It should be "machine" that represents all interfaces with any permission set.

[2017-11-27 03:09] shazqadeer commented on #158
Ok, so I should think of machine as the union type for all machine identifiers.

[2017-11-27 03:16] ankushdesai commented on #158
Yes.

[2017-11-27 03:20] ankushdesai commented on #159
I take this proposal back.
Let us keep the "any" type around.
We should create a separate proposal for union type after the type system stabilizes

[2017-11-27 03:20] #159 closed

[2017-11-27 17:16] shazqadeer commented on #158
In the current proposal, "I" is shorthand for I[I.ReceiveSet].  Another option is to consider "I" as the union type for all machine identifiers whose first component is I but says nothing about the permission set.  Which do we prefer and why?

[2017-11-27 21:42] ankushdesai commented on #158
I think we should go with the case where I represents set of machine identifiers whose first component is I and the permissions can be anything (not necessarily a subset of I.Receiveset).
This is better as it is consistent with "machine".

[2017-11-28 01:55] shazqadeer commented on #158
First, I detect some confusion in the previous message.  I[ES] means that the permission must be exactly ES and not a subset of ES.  Agreed?  Second, if we make I mean that nothing is known about the permission set, it is not "backward compatible" with the interpretation of I implemented currently. Are we ok with that?

[2017-11-28 23:16] ankushdesai commented on #158
I[ES] means that the permission must be exactly ES and not a subset of ES. Agreed?

If we make I mean that nothing is known about the permission set, it is not "backward compatible" with the interpretation of I implemented currently. Are we ok with that?

[2017-11-30 06:41] alexreinking opened #160 "Build fails when Formula runs SetupVsBinaries.cmd"
If there is a space in the path to the project directory, the build will fail when running build.bat since there is an issue with Formula's vsproj PostBuildEvent.

[2018-01-16 14:10] achaocmt opened #162 "Type conversion errors"
Hello,
when I try to get .dll documents in RVTutorial, by runing build.cmd, I get this error
[code]
Is it really a convertion problem? or my wrongly complilation?

[2018-01-16 17:21] shazqadeer commented on #162
@ankushdesai :  Could you please take a look?

[2018-01-17 20:51] ankushdesai commented on #162
Thanks for bring this to our notice. One of the recent commits broke this sample.
It has been fixed now.

[2018-01-17 20:51] #162 closed

[2018-02-20 07:29] ankushdesai commented on #122
No longer supported

[2018-02-20 07:29] #122 closed

[2018-02-20 07:30] ankushdesai commented on #81
@alexreinking Is this checked by the current compiler?

[2018-04-05 13:12] akashlal opened #166 "Clone method doesn't deep copy the P state"
We're trying to extend PTester with additional exploration strategies. It is handy to use the Clone method on StateImpl to copy the program state for backtracking. But it fails to do a deep copy. In particular, a `PrtMachineValue` keeps a pointer to the machine that it refers to, and this pointer is copied as-is in the Clone method. Thus, the resulting state still has pointers back to the original

[2018-04-05 20:07] ankushdesai commented on #166
I think the option (1) is preferable if sometime in the future we would also like to extend PTester with fingerprinting of the state, in which case we will have to support complete state-traversal anyway.

If we want a quick fix solution, then option (2) is clean but dumping into an object every time wouldn't that effect memory and time efficiency?
Maybe I didn't completely understand the dump obj

[2018-04-06 11:08] akashlal commented on #166
Ah, sorry, I didn't mean "dump object". I meant "dumb object", i.e., make PrtMachineValue just store an identifier (e.g., name of the machine) and not a pointer to the machine.

I'm moving ahead with option 3 right now, because its the least amount of work for me. We can revisit this later.

[2018-04-06 11:10] akashlal opened #167 "Debugging into generated C# code"
I'm playing with `RVTutorial\CoffeeMachine` example. I've attached a debugger to PTester to step through the program execution. But I am unable to step into the generated code (Test0.dll, for example). It correctly loads Test0.pdb but somehow doesn't find symbol information in there. Have you tried doing this, for example, to debug the generated C# code?

[2018-04-06 17:30] ankushdesai commented on #167
One way to get around this which I normally did was to create a test C# project and link the PTester against it.

[2018-04-07 06:51] akashlal commented on #167
That's a good suggestion. Thanks.

It would be good to figure out why the symbols don't get loaded properly, but at least I can make progress now.

[2018-04-07 06:51] #167 closed

[2018-04-07 10:41] akashlal opened #168 "Aliasing of locals in stack frames"
In the generated C# code, this is how a "call" looks like:
[code]
This creates a new stack frame. But the locals (`currFun.locals`) are passed by reference. Because of this, the locals of all stack frames in the stack at any point of time are aliased. Is this aliasing intentional?

Trouble is that `Clone` breaks this aliasing because it creates a fresh copy of the local vector when the stack is cl

[2018-04-23 20:16] thakkarparth007 commented on #101
PSharp wasn't being built by mono directly. It had references to `/home/parth/PSharp/./projects/...`, but the projects folder was created as `.\/projects`. On copying `.\/projects` to `projects`, MonoDevelop was able to build PSharp without any further changes. Tools/Visualization wasn't being handled by MonoDevelop, but Build still passed.

[2018-04-24 07:37] thakkarparth007 opened #169 "Build fails on Linux (using Mono)"
I tried building P using MonoDevelop on Ubuntu. There were a bunch of minor errors that I fixed first (changing GPLEX45.exe to gplex45.exe etc -> most of them were naming related changes), but now I'm stuck on building the Compiler solution.

I get around 320 errors, and it mainly keeps failing because PParser class isn't found. I added a 'using Microsoft.Pc.Parser;' in every file where it made se

[2018-05-09 13:11] rgu01 opened #170 "Problems occur during my building P on Windows"
**# Prerequisite**

I've installed Microsoft .NET 4.6, Visual Studio 2017 and Windows 10 SDK version 10.0.15063.0.

**# Problems**

After running command line: "bld\build.bat release x86", I got these errors:

Build FAILED.

"C:\Users\rgu01\git\P\Ext\PSharp\PSharp.sln" (default target) (1) ->
"C:\Users\rgu01\git\P\Ext\PSharp\Source\AddOns\DataFlowAnalysis\DataFlowAnalysis.csproj" (default target)

[2018-05-09 15:57] rgu01 commented on #170
Hi, Thanks a lot. I've tried your method, deleted the entire "P" folder, run the VSD shell as administrator, get the bits again in VSD shell, build them in VSD shell. But still got the same errors:

Build FAILED.

"C:\Users\rgu01\git\P\Ext\PSharp\PSharp.sln" (default target) (1) ->
"C:\Users\rgu01\git\P\Ext\PSharp\Source\AddOns\DataFlowAnalysis\DataFlowAnalysis.csproj" (default target) (2) ->
"C:\

[2018-05-09 19:53] rgu01 commented on #170
@thomaswahl Thanks, Thomas. I've reinstalled my VS2017 adding more components in it and executed the command lines using your advice, as administrator. It succeeded, yet still don't know why did those errors happen. But thanks anyway. :-)

[2018-05-09 20:41] #170 closed

[2018-05-10 04:29] thomaswahl commented on #170
Cool. I wouldn't have known what else to try.

[2018-05-10 19:00] rgu01 commented on #170
@thomaswahl My email address is rong.gu@mdh.se, it would be nice to have someone to discuss with. So if you want, please send me an email. :-)

[2018-06-07 07:19] y-taka-23 opened #173 "PTester detects no bugs in Hello example"
I'm following the `hello` tutorial in the wiki, which says the example violates liveness, but PTester returns:

[code]

The following is the contents of `coverage.txt`:
[code]

Is it expected behavior, or do I have some fault?

[2018-06-07 17:28] ankushdesai commented on #173
@ellab123 Can you please help with this?

[2018-06-07 17:30] ankushdesai commented on #169
Can you provide some more information about the error?

[2018-06-07 17:31] ankushdesai commented on #168
I am closing this issue for now as you are making progress with the state hashing and found a work around, I guess.

[2018-06-07 17:31] #168 closed

[2018-06-07 17:32] ankushdesai commented on #158
This thing has been taken care off in the new compiler and hence closing the issue.

[2018-06-07 17:32] #158 closed

[2018-06-07 17:34] ankushdesai commented on #103
This has been fixed with the new Tutorial created by @ellab123

[2018-06-07 17:34] #103 closed

[2018-06-07 17:34] #110 closed

[2018-06-07 17:35] ankushdesai commented on #153
This has been fixed on the new compiler branch and compiler service is obsolete now.

[2018-06-07 17:35] #153 closed

[2018-06-07 17:35] ankushdesai commented on #150
We are not going to support compiler service in the new compiler

[2018-06-07 17:35] #150 closed

[2018-06-07 17:38] ankushdesai commented on #154
@alexreinking can you please check if these checks are implemented.

[2018-06-29 18:34] alexreinking commented on #169
Sounds like the code generator isn't running for you. Since it runs for us, you should raise an issue with the antlr4cs project here: https://github.com/tunnelvisionlabs/antlr4cs

[2018-06-29 18:37] alexreinking commented on #101
The forthcoming new compiler toolchain is built entirely on .NET Core.

[2018-09-05 00:13] ankushdesai opened #178 "Compiler Crash: Named tuple with duplicate fields"
Compiler crashes on the following regression:
P\Tst\RegressionTests\Feature4DataTypes\StaticError\namedDuplicateField2

[2018-10-01 00:40] alexreinking opened #179 "(Named) tuple subtyping"
@ankushdesai and I were discussing what the subtyping rules for named/unnamed tuples are / ought to be. I'm not entirely sure which cases are covered by tests, but which of the following _should_ be legal?

[code]

There might be a few odd cases I missed.

@shazqadeer - would appreciate your input.

[2018-10-01 01:45] shazqadeer commented on #179
As far as I remember, two tuples are comparable iff
1. both are named with exactly the same sequence of names, or
2. both are unnamed with the same length.

A tuple T is a subtype of U iff each component type in T is a subtype of the component type in the same position in U.

arable.  A tuple

[2018-10-01 18:53] ankushdesai commented on #178
has been fixed now

[2018-10-01 18:53] #178 closed

[2018-10-01 18:54] ankushdesai commented on #154
These have been taken care of correctly in the new compiler in SSA

[2018-10-01 18:54] #154 closed

[2018-10-01 18:56] ankushdesai commented on #136
Removed in the SSA branch

[2018-10-01 18:56] #136 closed

[2018-10-01 18:56] ankushdesai commented on #129
Not relevant anymore. Manual has been moved to Wiki now.

[2018-10-01 18:56] #129 closed

[2018-10-03 21:55] ankushdesai commented on #75
We should support contains operations in the new Compiler.

[2018-10-07 21:02] alexreinking commented on #75
As long as programmers understand that `in` on a list is an O(n) operation, there's no reason we can't support this. Python has the same semantics.

[2018-10-07 21:17] shazqadeer commented on #75
I am fine with adding this operator.  Good idea.

[2018-10-22 22:34] alexreinking opened #180 "What is the default value of `any`?"
What is the value of `x` in the following code?

[code]

What about this?

[code]

Can I do this?

[code]

It seems to me that `null` isn't a bottom value for both `event` and `machine`, it's a placeholder for either value. Either we have to introduce a third "`null`" for `any`, or we have to say "`null` is a machine/event, unless we can deduce statically that it is an event/machine".

[2018-10-23 07:12] shazqadeer commented on #180
As far as I remember, the default value of any is null.  null is special value that is a member of both event and machine types.  Do you see a problem?  I did not follow your last example.

[2018-10-23 14:56] rajasekharjs commented on #169
problem seems to be from the ikvm.exe. Using the native OpenJDK runtime worked for me

$ cd  packages/Antlr4.CodeGenerator.4.6.4/tools
$ mv ikvm.exe ikvm.exe.bak
$ ln -s `which java` ikvm.exe

[2018-10-23 19:57] alexreinking commented on #180
The last example is strange because a machine-to-event conversion only makes sense when the value is null. If you had:
[code]
You would expect it to fail spectacularly at runtime. I would further suggest that this should be made illegal by the type system. If you want to do this, pass through `any` first `((null as machine) as any) to event`.

I think some extra consideration needs to be taken wit

[2018-10-23 20:01] ankushdesai commented on #180
I agree with Alex. Apart from being used as default value for machine and event, there is real no use case of null. So we should completely drop the notion of null type and infer it's type based on usage.

[2018-10-24 02:18] shazqadeer commented on #180
I think Alex's proposal boils down to (1) dropping the null type, (2) using type inference to assign either machine or event type to the null value, and (3) using the any type in case the type inference fails.  In particular, the null value stays and continues to be a member of both machine and event types.  Is my understanding correct?

[2018-10-24 21:34] cezane opened #181 "Problem when compiling P on Ubuntu"
I have mono and cmake (requirements) installed. Can anyone suggest something?
[code]

[2018-10-26 03:38] ankushdesai commented on #181
Thanks for trying out P. We are in the process of moving the P compiler to .Net Core.
This will resolve a lot of issues associated with Mono.

We will merge it with the Master branch in a weeks time. Will keep you posted.

[2018-10-26 18:02] shazqadeer commented on #180
Is the design issue resolved here?  Just to be clear, I have no objection to dropping the null type.

[2018-10-30 00:39] alexreinking commented on #180
I'm testing both designs and seeing what works better in practice... stay tuned...

[2018-11-14 18:54] ankushdesai opened #183 "Names of Foreign types and Functions in Prt Codegeneration is Confusing"
The names for the C functions corresponding to foreign functions and types is confusing.  We need to clean it up.

[2018-11-18 21:09] ankushdesai commented on #183
Resolved by @shazqadeer

[2018-11-18 21:09] #183 closed

[2018-11-22 01:10] ankushdesai commented on #179
Resolved, using the old Tuple implementation of C#.

[2018-11-22 01:10] #179 closed

[2018-11-22 01:10] ankushdesai commented on #180
Resolved, using the old C# PrtValues implementation.

[2018-11-22 01:10] #180 closed

[2018-11-26 05:05] ankushdesai commented on #134
Not relevant for the new compiler

[2018-11-26 05:05] #134 closed

[2018-11-29 06:48] ankushdesai commented on #181
The master branch now implements the new P compiler built on top of .Net Core.
This issue is resolved now. Please reopen if you face any problems.

[2018-11-29 06:48] #181 closed

[2018-11-29 06:50] ankushdesai commented on #169
The master branch implements new Compiler that uses .Net Core.
This issue must be resolved now. Please reopen if you face any problems.

[2018-11-29 06:50] #169 closed

[2018-11-29 06:51] ankushdesai commented on #101
The new compiler toolchain is part of the master branch now.

[2018-11-30 15:59] shazqadeer opened #191 "compilation failed on Mac"
The build command "sh build.sh" is failing on Mac with the following output:

Time Elapsed 00:00:18.42
~/Source/P/Bld
~/Source/P/Bld ~/Source/P/Bld
-- The C compiler identification is AppleClang 10.0.0.10001145
-- The CXX compiler identification is AppleClang 10.0.0.10001145
-- Check for working C compiler: /Applications/xcode_10_fb.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bi

[2018-11-30 16:39] ankushdesai commented on #191
Libhandler is failing. Can you go into libhandler submodule and do a make depend and make there. If it still fails. Please post issue on libhandler and Daan is really quick in helping out.

[2018-11-30 16:45] shazqadeer opened #192 "P wiki is outdated and needs to updated to reflect the latest toolchain in master"

[2018-12-01 20:58] ankushdesai opened #193 "Improving the Prt Runtime and Code Generation"
Currently, all P values in Prt are implemented as PrtValue (pointer), in other words, all values are boxed.
It would be nice if we can improve the runtime + code generation to ensure that only complex types are boxed and other types are implemented as primitive C types.

I would really like to get this part implemented as @thisiscam and I are blocked on it to get the Symbolic Engine ported to the

[2018-12-01 22:19] legowerewolf commented on #130
Could probably be done using CI.

[2018-12-04 15:04] suvamM commented on #192
I'd like to second this.
As an example (and maybe I am missing something here), I am following the build instructions, but pt.exe does not get generated. What is the method to build the PTester?

[2018-12-04 17:23] cezane opened #194 "Problem when compiling P on Ubuntu"
As recommended in [#181](https://github.com/p-org/P/issues/181), I updated the code, installed the .Net Core and tried again, but still without success after run `./build-core.sh`:
[code]

Any suggestion?

_Originally posted by @cezane in https://github.com/p-org/P/issues/181#issuecomment-442939923_

[2018-12-04 18:34] ankushdesai commented on #192
PTester is not supported in the new compiler. The compiler generates P# code and you can use PSharpTester to test the program.

[2018-12-04 18:48] ankushdesai commented on #194
What OS are you using? Also, can you please make sure that you have Java installed on your machine.

[2018-12-04 19:18] shazqadeer commented on #194
This looks like an msbuild issue to me.  For me, the P build works fine on MacOS.  Here are the version numbers for dotnet and msbuild installed on my machine:

$ dotnet --version
2.1.500
$ msbuild
Microsoft (R) Build Engine version 16.0.40-preview+ge6c3a1f9e4 for Mono
Copyright (C) Microsoft Corporation. All rights reserved.

What are the version numbers for you?

[2018-12-04 19:51] cezane commented on #194
I am trying on Ubuntu 18.04, with Java 10 (`openjdk 10.0.2`). The dotnet version is `2.1.105` and I do not have `msbuild` installed, since it is not indicated in the wiki (but now I saw it is installed when I ran the build script: `Microsoft (R) Build Engine version 15.6.84.34536 for .NET Core`). By the way, the script filename is not `build.sh` anymore. It is now `build-core.sh` (the wiki is pres

[2018-12-04 20:02] shazqadeer commented on #194
Could you try to update your dotnet version to mine (or later)?

$ dotnet --version
2.1.500

Not sure it would help but want to minimize the difference between your environment and mine to narrow down the issue.

[2018-12-04 20:31] cezane commented on #194
It worked: I updated the dotnet version to 2.2.100. Thank you.

I am searching now how to run an example, such as the HelloWorld.

[2018-12-04 20:31] #194 closed

[2019-01-26 06:32] suvamM opened #195 "Unable to test PingPong sample"
I am trying to test the `PingPong` sample. I have compiled the P files down to P#. I then created a VS solution, targeting .netcore2.0, added the generated .cs file, referenced the `PrtSharp.dll` and .netcore `PSharp.dll`, and then generated the `PingPong.dll`. However, the `PSharpTester` throws the following error when I try to test the `PingPong.dll`:

`Error: Could not load file or assembly 'Sy

[2019-01-26 19:14] suvamM commented on #195
One needs to invoke the `.netcore` version of the `PSharpTester`. That fixes the issue.

[2019-01-26 19:14] #195 closed

[2019-01-26 19:21] suvamM opened #196 "Possible Bug in Monitor Translation to P#"
On compiling the `PingPong` sample to `P#`, I kept hitting the following error during testing:

`Error: Exception 'System.Reflection.TargetInvocationException' was thrown in test method 'PingPongApp.Test0.Execute', 'Microsoft.PSharp.TestingServices':
   Exception has been thrown by the target of an invocation.
The stack trace is:
   at Microsoft.PSharp.TestingServices.TestHarnessMachine.Run() in C

[2019-01-28 02:02] ankushdesai commented on #196
Hi Suvam, I will fix this bug in next couple of days and get back to you. Thanks!

[2019-01-28 15:48] suvamM opened #197 "Null-dereference during translation to P#"
I coded up a `PingPong` sample, which is a slight variant than the one in the P tutorials. During compilation to `P#`, I get the following error:

`Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at Plang.Compiler.DefaultTranslationErrorHandler.IssueError(ParserRuleContext location, String message) in C:\Users\t-sumukh\source\repos\vsc\P

[2019-01-28 15:53] suvamM opened #198 "PrtTuple cannot be used with type arguments"
When sending a tuple as an event, the translation to `P#` has the following signature:

`new PrtTuple<PMachineValue, PrtInt>(TMP_tmp5_2, TMP_tmp6_2))(...)`

This throws the error `The non-generic type PrtTuple cannot be used with type arguments`. Classifying this as a (probable) bug.

[2019-01-29 16:27] suvamM opened #199 "Issue in GotoStmt transation to P#"
The `GotoStmt` is handled as `currentMachine.GotoState(...)`, which throws an error, and should instead be `currentMachine.State(...)`. Classifying as a possible bug.

[2019-01-30 03:41] ankushdesai commented on #199
I did not understand what the problem. It throws an exception and then the exception is then handled in a specific way to implement the P# semantics.

[2019-01-30 04:16] suvamM commented on #199
I have a function in a liveness monitor as:

[code]
which gets translated into

[code]

results in an error in lines `s1` and `s2` saying "There is no argument given that corresponds to the required formal parameter payload of PMonitor.GotoState<T>(object)`. I'm sorry that the earlier description of the issue wasn't accurate.

[2019-01-30 04:18] ankushdesai commented on #199
Got it. I will fix this and other issues.
Apologies for the delay.

On Tue, Jan 29, 2019, 8:16 PM Suvam Mukherjee <notifications@github.com>
wrote:

[2019-01-30 14:30] suvamM opened #200 "Invalid Composition Operation"
I have an event `ePing: machine`, and the following machines:
[code]
The `PongMachine` is similar, executing `SendPing` on receiving `ePing`, with `this` as payload. When I try to compose the machines in a test script:

[code]
I get the following error during compilation:

`[testscript.p:6,63] invalid composition operation. output sends are not disjoint, ePing belongs to the sends of the composed

[2019-02-05 23:03] ankushdesai commented on #196
Fixed this issue of missing initialization. Thanks

[2019-02-05 23:03] #196 closed

[2019-02-05 23:12] ankushdesai commented on #200
If you do not provide any sends annotation on the machine then the default is all possible events in the program.

For compositional reasoning, it is required that the modules have disjoint send events-set.

I am assuming that in this case you are not really exploring "sound" compositional testing so you can create larger modules by unioning multiple modules.

So there are three options:
- Add sen

[2019-02-11 07:01] ankushdesai commented on #197
This has been fixed now. There was a missing null-reference check when reporting error.
Thanks for catching this!

[2019-02-11 07:01] #197 closed

[2019-02-11 07:04] ankushdesai commented on #198
This has been fixed as well.

[2019-02-11 07:04] #198 closed

[2019-02-11 07:09] ankushdesai commented on #199
This must be fixed as well. Please re-open it if you face any problem.
Thanks for catching these errors.

[2019-02-11 07:09] #199 closed

[2019-02-11 07:12] ankushdesai commented on #200
Were you able to resolve this problem?

[2019-02-11 07:13] ankushdesai commented on #173
Please re-open it if you face this problem with the new compiler.

[2019-02-11 07:13] #173 closed

[2019-02-11 07:14] ankushdesai commented on #191
@shazqadeer Is this issue fixed?

[2019-02-11 11:22] shazqadeer commented on #191
There is an issue posted on libhandler page: https://github.com/koka-lang/libhandler/issues/8.  It has not been fixed yet.  I just reminded Daan

[2019-02-11 17:58] shazqadeer commented on #191
I just heard that Daan has fixed the problem.

[2019-02-27 04:30] suvamM commented on #200
Sorry for the delayed response.

Unfortunately, I now get the following error during compilation:
`[testscript.p] parse error: line 1:54 no viable alternative at input 'testTest0[main=Test_1_Machine]:(assertSafetyin({'`

My test script file is now simply:

`test Test0[main = Test_1_Machine]: (assert Safety in ({ Test_1_Machine, PingMachine, PongMachine }));`

[2019-03-01 21:50] ankushdesai commented on #200
This must be fixed now.

[2019-03-04 04:05] suvamM commented on #200
Thanks!
Unfortunately, I continue to get this error message. I am compiling using the Pc.dll
Reopening the issue.

[2019-03-04 04:17] ankushdesai commented on #200
Can you please make sure you are using the latest build. I am able to compile the attached example.
Please let me know if you are not able to compile this sample and what is the difference in your code?
[PingPong.zip](https://github.com/p-org/P/files/2924301/PingPong.zip)

[2019-03-21 12:46] suvamM commented on #200
This was an issue with build version. Closing this. Thanks.

[2019-03-21 12:46] #200 closed

[2019-03-30 07:12] suvamM opened #201 "Declaring named tuple as new type"
I see that we can declare our own types, but I am unable to figure out the syntax for declaring named tuples as types. I am trying to declare a named tuple as a new type with the following syntax:

[code]
This is clearly incorrect, as I am getting the error: `extraneous input 'type' expecting {'cold', 'fun', 'group', 'hot', 'start', 'state', 'var', '}'}`. What is the correct syntax to do this?

[2019-04-05 10:11] suvamM commented on #201
`type` declarations cannot be nested inside `machine` declarations.

[2019-04-05 10:11] #201 closed

[2019-06-25 21:44] ankushdesai commented on #191
@shazqadeer Can you please confirm that this issue has been resolved now.

[2019-06-25 21:57] ankushdesai opened #202 "Updating the P Event Types"
Shaz thinks that the P# design which bundles the event and the payload together is a superior design.  This needs to be discussed and flushed out.

[2019-06-25 21:58] ankushdesai opened #203 "Remove the linear types from the current implementation [Clean up!]"
The design of swap and move was done by @shazqadeer and there is lots of scope of improvement by taking inspiration from Rust and other frameworks.

Comments from Shaz:

[2019-06-25 22:01] ankushdesai opened #204 "Improve the Module System Design (in particular: Syntax)"
The design of the module system and the sends/receives/creates annotations have been discussed many times.  Now would be the time to potentially revisit and clean things further if necessary.

It would be good to brainstorm on this and flush out the design

[2019-06-25 22:25] ankushdesai opened #205 "Building and Testing P applications on Linux Platform"
We would like to improve the Build System for P for the Linux Platform.

What should we use as a build system for P programs which would involve compiling P files, and then compiling the generated code both C and P# with the corresponding foreign code to generate the executable files.

Any suggestions given your experience, @alexreinking @pdeligia @thisiscam .

[2019-06-25 23:26] alexreinking commented on #205
I would use CMake for C/C++ programs that want to use P's C backend and msbuild for P# via .NET Core. If you don't like CMake, then a set of standard Makefile rules users can include to call the compiler would be helpful.

[2019-06-26 16:16] shazqadeer commented on #202
I would like to investigate whether both the event and machine types can be eliminated altogether.

[2019-07-14 14:10] elmasasa opened #206 "Compile Error"
To generate files used by the PTester for systematic testing, P program has to be compiled into C#.

When the following command runs:

pc.exe /generate:C# foo.p bar.p /t:foo.4ml

the following files are generated (provided there's no static errors): foo.cs and foo.4ml.

When I follow this:
C:\Users\10719>Desktop\git\P\Bld\Drops\Release\Binaries\win-x64\publish\Pc/generate:C# PingPong.p/t:PingPong.

[2019-08-02 18:27] ankushdesai commented on #206
Hi @elmasasa,

The documentation for P is out of date and will be updated soon to be in sync with the new compiler.

The new P compiler generates PSharp code and uses PSharp for systematic testing of P programs.

Please refer to the PSharp repo to learn more about it.

[2019-08-02 18:28] ankushdesai commented on #204
One of the suggestions is to make annotations of sends, receives and create compulsory. We all agreed with this design and will make this change soon. (This would need updating all the regressions).

[2019-08-06 20:57] ankushdesai opened #207 "Shared Memory Concurrency in P"
@shazqadeer There seems to be a lot of interest in enabling shared memory concurrent in P. Do you have any thoughts and ideas from your experience applying P/P# inside Azure?

@pdeligia @akashlal I see that PSharp supports shared memory concurrency analysis in some forms. Can you point me to relevant documentation and how should we model it in P so that we can analyze it using PSharp with the exis

[2019-08-06 21:49] shazqadeer commented on #207
The straightforward way to model shared-memory is as a P machine that encapsulates the shared data structure.  Operations on the data structure are modeled as events sent to this machine.  If an operation returns a value, that is modeled by sending an event back to the sender.

[2019-08-11 02:09] paulshaoyuqiao opened #208 "Linker Error on MacOS"
When I tried building the P compiler by running `./build-core.sh`, I'm getting the following linker errors:
[code]
I searched through the `PrtExecution.c` file within `src`, but couldn't seem to locate any of the related functions (the ones that contain `lh`) the error above referenced

[2019-08-14 07:51] ankushdesai commented on #208
@alexreinking You have worked with libhandler, can you please help with this?

[2019-08-16 22:22] alexreinking commented on #208
Are you trying to do this with VS2019?

[2019-08-16 22:23] alexreinking commented on #208
Did you clone the repository with its submodules or no?

[2019-08-16 22:24] paulshaoyuqiao commented on #208
I cloned the entire repository, so yes.

[2019-08-20 17:15] #208 closed

[2019-08-20 17:16] ankushdesai commented on #206
@SelectricSimian Please address this issue after you are done updating the wiki page, Thanks!

[2019-08-20 17:16] #205 closed

[2019-08-20 17:18] ankushdesai commented on #191
This issue has been fixed now.

[2019-08-20 17:18] #191 closed

[2019-08-20 17:19] ankushdesai commented on #126
Not valid any more the manual has been discarded and moving to wiki slowly.

[2019-08-20 17:19] #126 closed

[2019-08-21 23:50] ankushdesai opened #212 "Support Break and Continue Statement in P"
We do support while loops in P and it would be good to support break and continue statements  to improve the ability to write programs with loops in them.

@shazqadeer sounds good?

[2019-08-22 00:28] shazqadeer commented on #212
Yes

On Wed, Aug 21, 2019, 4:50 PM Ankush Desai <notifications@github.com> wrote:

[2019-08-30 21:24] ankushdesai commented on #203
@exists-forall. You know details about the P linear type system using `move` and `swap`.
I did describe to you its short-comings with respect to nested types.

It would be good if we can re-design the linear-type system in P.
Please let us know if you have any suggestions based on your experience with Rust.

[2019-08-30 21:25] #206 closed

[2019-08-30 23:55] ankushdesai commented on #202
As per our last discussion, we agreed that we cannot eliminate event and machine types in P.

@shazqadeer Can you please describe your proposal of combining events and payloads with an example?

[2019-08-31 00:39] ankushdesai opened #214 "Adding Generics to P"
To make it easier to write real-world applications in P.
It would be good to support generics in P as specially for the foreign types.

@shazqadeer working on the initial design :)

[2019-08-31 00:50] ankushdesai opened #215 "Fix the P Regressions"
The current regressions do not compare the golden output traces for the P# pipeline.
It would be good to clean up the regression system and set-up an easy way to add new regressions.

[2019-08-31 00:52] ankushdesai commented on #97
We have azure pipelines integrated. But we need to update it so that it can run the regressions as well each time someone makes any commits.

[2019-08-31 00:53] ankushdesai commented on #81
This check is implemented.

[2019-08-31 00:53] #81 closed

[2019-08-31 00:58] ankushdesai commented on #64
P currently only supports local variables at the machine level and at the function level.

[2019-08-31 23:29] shazqadeer commented on #202
Consider a program with the following event declarations:

event A(int);
event B(bool);
event C(int);

Currently, the event type can be thought of as an enum that contains A or B or C.  In the new system, the event type would be akin to a Rust enum with three variants corresponding to the three different events.  As a result, the following would change:

send m, e, v

would become

send m, e

wher

[2019-08-31 23:39] shazqadeer commented on #202
Also, remind me why we came to the conclusion that event and machine types cannot be eliminated.  My naive idea was that machine can be dropped because we have interfaces.  To drop event type, we need the capability to define a type that is a set of events.  Perhaps we already have event sets and we just need to elevate them to a type.

[2019-09-03 19:13] ankushdesai opened #216 "Separate Compilation in P"
It would good to enable separate compilation for P that allows decomposing the implementation into separate P projects.

Enabling this for C pipeline seems hard and we can ignore it.
I think enabling it for the P# pipeline would be of value and shouldn't be that hard.

@alexreinking Please let us know if you have any thoughts and idea around this?

[2019-09-03 21:11] alexreinking commented on #216
Definitely seems doable for C#. I'll gather some of my thoughts on it in a bit.

[2019-09-11 21:26] ankushdesai commented on #202
@shazqadeer Thanks Shaz for the summary. I agree this will be useful.

We will have to extend `event` type to `event(type)` where `type` is the type of the payload. By default `event` means `event(any)` which represents a super-type of all events.

We need event type to represent a super type of events and same for machine type to represent a super type of all interface-types.

This is needed for

[2019-09-16 21:34] ankushdesai commented on #75
List Containment is now supported in P.
https://github.com/p-org/P/pull/218

[2019-09-16 21:34] #75 closed

[2019-09-16 21:36] ankushdesai commented on #212
Support for break and continue has been added to P language now!
https://github.com/p-org/P/pull/213

[2019-09-16 21:36] #212 closed

[2019-09-18 21:56] ankushdesai opened #222 "Add Union of Modules Contructor"
It is very annoying to add sends, receives, creates annotations over modules when the developers do not want to perform compositional reasoning.

We would like to add `union m1 , m2` operation which will drop all the checks except for ensuring that the `implemented interfaces of m1 and m2 are disjoint`

@shazqadeer What do you think? We had discussions regarding this, but I am not able to recollec

[2019-09-25 22:05] ankushdesai commented on #222
Union operation is already implemented and hence closing this issue.

[2019-09-25 22:05] #222 closed

[2019-10-04 04:13] ankushdesai opened #225 "Implement set type in P"
Based on the recent experience and use case. It would be great if we can support `string` and `set[type]` types in P.

[2019-10-21 16:58] jzhang919 opened #227 "Running P on Ubuntu"
Hi all:

How do you verify P programs on Linux? I've successfully built the compiler and the runtime libraries, and can build the Hello example. But I don't know how to verify the C or C# program generated. I know from [@192](https://github.com/p-org/P/issues/192) that P no longer uses PTester.exe, and it seems that we should use the P# Tester.

Do I need to build P# from source/use NuGet on Linux

[2019-10-21 17:29] pdeligia commented on #227
Hi @jzhang919, P# works on Linux via `dotnet core` which is multiplatform (e.g. to run the tester you would do `dotnet <somepath>\netcoreapp2.1\PSharpTester.dll <somecommands>`.

We currently do not have a non-powershell script for building the source code on Linux, but powershell itself is multiplatform (https://github.com/powershell/powershell) and can be easily installed to run the scripts. The

[2019-10-22 01:11] shazqadeer commented on #214
Here is an initial proposal.

1. We would allow type parameters on top-level declarations such as type declarations, function declarations, and machine declarations.

type T<X, Y> = (x: X, y: Y)

machine Foo<X, Y> {
    var x: X;
    var y: Y;
    ....
    fun foo(v: X) { ... }
}

fun F<X>(v: X) { ... }

2.  Introduce eventsets as first-class types

type ES = {e1, e2, ...}

which allows us to prov

[2019-10-22 01:13] shazqadeer commented on #202
https://github.com/p-org/P/issues/214

I have proposed a design for generics above where I address your challenge of writing a generic Send function.  I argue there that machine and event types can indeed be eliminated.  Take a look and let me know what you think.

[2019-10-23 19:08] ankushdesai commented on #215
This has been fixed now in #226 by @Eric-Le-Ge.

[2019-10-23 19:08] #215 closed

[2019-10-23 19:28] ankushdesai commented on #225
We would like to add a set type.
The set type will be parameterized with the type of elements in the set.
`var s: set[int]`  declares a set of type int.

The operations allowed on set are the same as those allowed on map.

`+=` to add to set (if the element already exist, ignore), `-=` remove the element, `in` contains operation on the set. `s[i]` returns the `i`th element in the set. This will al

[2019-10-24 04:08] akashlal commented on #225
What data-structure do you plan to use for implementing this set? It seems that the combination of indexing, insertion and membership, all together can't be done efficiently (log time). Usually, set data structures have an enumerator to iterate over its contents (and no direct indexing).

[2019-10-24 04:52] ankushdesai commented on #225
I wanted to add indexing because P does not support iterator over collection types.
But you made a valid point, I have edited my comment and will add iterator for collection types in P separately. Thanks!

[2019-10-24 04:57] ankushdesai opened #228 "Add support for Iterator over collections in P"
P does not support iterator over collections.

We would like to add `foreach(T x in collection<T>){}`.

This will be very useful and will reduce the programmer overhead.
Currently, the programmer has to write a `while` loop over the size of the collection.

[2019-10-24 05:00] ankushdesai commented on #227
@jzhang919  You will be able to find the `PSharpTester.dll` in the nuget packages folder.

Please let us know if you face any problem running PSharpTester on the generated code.

[2019-10-27 21:48] ankushdesai commented on #225
Thanks to @Eric-Le-Ge, this part of master now #230

[2019-10-27 21:48] #225 closed

[2019-10-28 00:03] ankushdesai commented on #97
The azure pipelines now build P on all the three platforms. It also runs the regressions on the windows platform.

[2019-10-28 00:03] #97 closed

[2019-11-01 18:06] ankushdesai commented on #227
Issue has been resolved.

[2019-11-01 18:06] #227 closed

[2019-11-01 18:45] Eric-Le-Ge opened #234 "Add support for string types in P"
Currently P supports strings in print statements
`print "values ({0}, {1})", val1, val2;`
We would like to add support for string concatenation and equality comparison:
`s = s1 + s2 //concatenation, assigns s to new string`
`b = s1 == s2 //comparison, assigns b to boolean`
The string type would be treated as primitive data types, so `s1==s2` would be true as long as their contents are equal.

[2019-11-01 19:57] ankushdesai commented on #234
Thanks @Eric-Le-Ge !
Can we also add initialization like below:
`s = "my name is: {0}, {1}", firstName, lastName;`

[2019-11-05 19:14] Maryam81609 opened #235 "Testing P programs using P# tester"
I have built the P compiler, P runtime, and installed PSharpTester using nuget on Ubuntu and trying to test P programs.
Is there any documentation regarding testing P programs using P# Tester?

It seems that PSharpTester takes the DLL of a program to be tested. But, the P compiler generates either C or C# files based on the given option.

[2019-11-16 02:02] Maryam81609 commented on #235
Thank you for the updated documentation. I could test TwoPhaseCommit using Coyote. However, other examples seem to be incompatible with the recent parser. Anyway, I think the issue is resolved, and so I am closing it.

[2019-11-16 02:02] #235 closed

[2019-11-25 01:07] ankushdesai commented on #234
Done in #237 !!

[2020-01-23 01:23] ankushdesai opened #242 "Add choose operation as a primitive in the language"
We plan like to add `choose(<collection>)` , `chooseInt(max)`, and `choose()` as language primitives in P.

* `choose()` returns a non-det bool.
* `choose(max)` returns a random int < max (max > 0 returns 0)
* `choose(collection<T>)` returns a random element from the collection of type T.

[2020-01-24 06:16] ankushdesai commented on #234
Reopening this issue as we would like to add support for other binary comparison operations like "<", "<=", ...

[2020-01-27 17:54] ankushdesai commented on #234
Fixed in the https://github.com/p-org/P/pull/243. Thanks @Eric-Le-Ge

[2020-01-27 17:54] #234 closed

[2020-02-25 01:27] ankushdesai commented on #203
The current changes in the compiler has broken the linear types implementation in P. We do not have users for linear types in P right now and will revisit it later.

[2020-02-25 05:11] shazqadeer commented on #203
You should not let linear types in P get in your way.  It was an experimental feature that should be rethought and reimplemented.  You should consider deleting this feature from P to increase your velocity.

[2020-02-25 14:12] shazqadeer commented on #203
Let me expand on my previous remark.  As far as I understand, P is currently being used only as a modeling language and not as an implementation language.  Linear types, as implemented in P, do not provide any modeling benefit.  They provide some implementation efficiency but the solution is nowhere near as comprehensive as the nearest competitor Rust.  So, overall I feel that the current design m

[2020-02-25 16:56] ankushdesai commented on #203
Thanks @shazqadeer. Yes, lets revisit this sometime in the summer!

[2020-02-25 16:57] ankushdesai commented on #203
Thanks @shazqadeer. Yes, lets revisit this sometime in the summer!

[2020-02-25 22:51] ankushdesai opened #248 "Support for String types and Print statement is Broken in C backend"
The current changes in https://github.com/p-org/P/pull/247 broke the support for string types and the print statement in C backend.

Needs to be fixed.

@Eric-Le-Ge Can you please help fix this problem, you had added the support for string and it would be great if can help fix the issue.

[2020-02-25 22:58] ankushdesai commented on #242
Done and available as part of master now https://github.com/p-org/P/issues/242

[2020-02-25 22:58] #242 closed

[2020-03-04 19:10] #248 closed

[2020-09-30 15:42] KelvinLi2020 opened #263 ""KeyNotFoundException" when instantiating machines from C# without "creates" declaration"
When C# code instantiates a state machine, and if the corresponding P function signature does not declare `creates`, then an internal P error is returned.

P code:
[code]

C# code:

[code]

Resulting exception:

[code]

[2020-09-30 16:12] ankushdesai commented on #263
Thanks @KelvinLi2020, I will update the code to generate better error message to give hint to programmers to add the `creates` annotation.

[2020-11-03 00:52] ankushdesai opened #270 "Split the CI into Platform dependent Workflows"
We should have three platform dependent CI for Ubuntu, Mac and Windows these are triggered on each push,
And a manually triggered release workflow to push packages to NuGet.

@zeynepsu Please update the issue as you feel appropriate.

[2020-11-04 03:08] #166 closed

[2020-11-04 03:09] ankushdesai commented on #63
P supports string data type now.

[2020-11-04 03:16] lovettchris commented on #63
oooh, that's cool :-)

[2020-11-04 03:16] #63 closed

[2020-11-04 03:20] ankushdesai commented on #203
Based on @shazqadeer feedback. We are currently using P only as a modeling language. Its worth removing linear types completely from the compiler and cleaning it up.

[2020-11-04 03:27] ankushdesai commented on #202
@shazqadeer  With the recently experience of using P inside Amazon. I agree with your assessment that it would be better to completely drop machine and event types. This will make P more strongly typed. Programmers generally use machine names as types instead of `machine`.

Lets add support for generics in P which will help eliminate these types!

[2020-11-04 03:29] ankushdesai commented on #193
Not valid any more closing it.

[2020-11-04 03:29] #193 closed

[2020-11-04 03:31] ankushdesai commented on #64
We do not plan to add support for state-level local variables as we havent had any demand for it. Closing this issue for now.

[2020-11-04 03:31] #64 closed

[2020-11-04 03:32] ankushdesai commented on #101
P Compiler is completely based on dotnet core 3.1 now. Closing this issue.

[2020-11-04 03:32] #101 closed

[2020-11-04 03:33] ankushdesai commented on #100
Closing this issue as we are tracking cleaning up of linear types here: #203

[2020-11-04 03:33] #100 closed

[2020-11-04 03:35] ankushdesai commented on #127
@maacl Do you have any other question? Can we close this issue?

[2020-11-04 03:35] #127 closed

[2020-11-04 03:39] ankushdesai commented on #130
@zeynepsu your work on making package and release available through workflow will address this issue.

[2020-11-04 03:47] ankushdesai opened #271 "P Checker Wrapper"
Implement a wrapper around Coyote to enable running it in separate process.
**Advantages:**
1) Expose limited options that we want our users to use.
2) Enable running it on a multi-core distributed cluster.
3) Add it into the P NuGet package.

[2020-11-04 03:58] ankushdesai opened #272 "Add support for Invariants in P"
Hey @FedericoAureliano, can I please request you to design/propose the invariant language we would like to support for P to enable the PVerifier. The example you have [here](https://github.com/p-org/PVerifier/tree/master/Examples/ClientServer/P/PSrc) is a good starting point.

But it would be good to formalize the language.

I think we need to support machine level invariants, machine local variab

[2020-11-10 12:36] virgil-serbanuta opened #275 "Wrong default value for enums"
The Coyote backend uses `0` as the default value for an enum, even though that may not be a valid enum value, see

https://github.com/p-org/P/blob/master/Src/PCompiler/CompilerCore/Backend/Coyote/CoyoteCodeGenerator.cs#L1522

Example enum:
[code]

[2020-11-10 16:36] yzhang90 opened #276 "NamedTuple and Tuple should not be compatible"
In P, the following code is allowed:
[code]
and generated the following code:
[code]
I don't think this should be allowed.

[2020-11-10 22:33] ankushdesai commented on #275
The issue has been fixed in this #277 and will be merged with the master soon.

[2020-11-10 23:23] ankushdesai commented on #276
Hey @yzhang90, Fixed this issue in the PR #278.
Will be available in the master branch soon.

[2020-11-10 23:23] #276 closed

[2020-11-13 10:08] BusyJay opened #283 "Wrong path in instructions of "Build P on Windows""
Wiki says:

But in fact path for pmc should be

[2020-11-13 10:35] BusyJay opened #284 "Wrong namespace for foreign code in TwoPhaseCommit example"
The example put `GlobalFunctions` in `TwoPhaseCommit` namespace, but generated code put `GlobalFunctions` in `PGlobalFunctions` namespace. So it result in following errors:
[code]

[2020-11-13 17:55] ankushdesai commented on #283
Thanks a lot @BusyJay , I have fixed it. We are working on a language manual for P as well as a detailed tutorial. Please keep an eye out for it. Should be available by the end of this month.

[2020-11-13 17:55] #283 closed

[2020-11-19 01:49] ankushdesai commented on #284
Thanks for bring to our attention, will fix this soon.

[2020-11-19 01:52] ankushdesai opened #286 "Rename `test` to `check` when declaring the scenarios"
As we are adding support for symbolic execution of P programs. It would be good to replace `test` to `check` when adding scenarios to be tested.

[2020-11-19 01:57] ankushdesai opened #287 "Improve the syntax for module constructors [remove redundant ()]"
There are unnecessary `()` required when using module constructors. This needs to be revisited.

[2020-11-24 19:21] JankoJerinic opened #289 "Make P/C# transpiler obfuscate C# reserved words"
There are legitimate non-reserved tokens in P that, if used literally, map to reserved words in C#.
For instance:
[code]
will result in a variable called ``params`` being created in C#, and that will result in a number of errors that may seem cryptic to people who are not familiar with the language. Ideally, we would obfuscate such variable by prepending some well-defined prefixes (e.g. ``__params

[2020-12-07 21:52] JankoJerinic opened #301 "Create an ability to instantiate sequences as a literal"
Right now, creating ``seq`` objects (i.e. lists) is a bit cumbersome, as you have to declare them, then append to them in a relatively awkward syntax, which forces you to specify an index:
[code]

I wish we cold, instead, say:
[code]
I wish that we could append objects into lists without having to specify an index:
[code]

[2020-12-07 21:54] JankoJerinic opened #302 "Create an ability to initialize a variable inline"
Instead of having to:
[code]
it would be nice to have the ability to declare and initialize inline:
[code]

If a type can be inferred from the expression, then the explicit type can be omitted, but let's take it one step at a time.
This could also open the door for immutable ``val`` objects.

[2020-12-07 21:57] JankoJerinic opened #303 "Extract a common interface from PMachine and PMonitor"
C# foreign functions imply that a machine/monitor argument is appended to the function prototype. While this convention is fine, it's a bit cumbersome when a function is to be used from both a machine and a spec, because there are no common types of ``PMachine`` and ``PMonitor`` that we could use for that last parameter. Therefore, it must be an ``Object``, and therefore, we don't have access to a

[2020-12-23 09:11] BusyJay opened #307 "Official vscode extension"
I notice there are two P language extensions in vscode, https://marketplace.visualstudio.com/items?itemName=ankushdesai.p-language and https://marketplace.visualstudio.com/items?itemName=lovettchris.msr-vscode-p. Both of them are listed in developer accounts. So which one is *officially* supporting one?

I also found an outdated issue #157 that mentioned there was an extension in the source code,

[2020-12-23 20:20] lovettchris commented on #307
Oh, the lovettchris.msr-vscode-p is just a temporary place holder, I will see if I can delete it.

[2021-01-01 22:52] lovettchris commented on #307
https://marketplace.visualstudio.com/items?itemName=lovettchris.msr-vscode-p is gone.  Thanks for pointing this out.

[2021-02-04 01:27] anchakarov opened #310 "Compilation using pproj fails on MacOS X on case sensitive volumes."
Hi, I am following the TwoPhaseCommit example.

[code]

For some reason the path gets renamed to all lower case and as a result compilation fails on a case sensitive volume under Mac OS X 10.15.7.
For information even ls fails on the volume if the proper case is ignored.

[2021-02-04 01:30] anchakarov commented on #310
Compilation succeeds if I duplicate all project files and folders with names in all lower case.

[2021-02-04 03:42] #307 closed

[2021-02-04 03:43] ankushdesai commented on #270
@zeynepsu closing issue.